bbt/app/flows.json
[
    {
        "id": "547a59bae597a065",
        "type": "tab",
        "label": "4 máy không PLC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43146d25428b1e63",
        "type": "tab",
        "label": "Máy bông tẩy trang 6x6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42948bc9125c490d",
        "type": "tab",
        "label": "Máy cắt bông 01",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3285a4c8af3a7c07",
        "type": "tab",
        "label": "Máy cắt bông 02",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7555dfac4acb6bb1",
        "type": "tab",
        "label": "Máy xỏ ngón",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c05ce6de134a9170",
        "type": "tab",
        "label": "[ECU-1051]Máy bông tẩy trang dạng tròn 01",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c7160247c5d11a7",
        "type": "tab",
        "label": "[ECU-1051]Máy bông tẩy trang dạng tròn 03",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8d09205ba1926ae5",
        "type": "tab",
        "label": "[ECU-1051]Máy bông cắt/ 03",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a61be07d8a581ec2",
        "type": "tab",
        "label": "[ECU-1051]Máy bông cắt/ 04",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8d38d595ca3f424b",
        "type": "tab",
        "label": "[ECU-1051]Máy bông tẩy trang 6cm x 6cm/ 03",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7198ec6c91eaea78",
        "type": "mqtt-broker",
        "name": "admin",
        "broker": "176.76.1.41",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3ba38ac2ba59e1ab",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "bbt",
        "name": "bbt",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "b83544967f39d2a6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "176.76.1.41",
        "port": "8893",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "51f705db47c816b7",
        "type": "mqtt in",
        "z": "547a59bae597a065",
        "name": "",
        "topic": "#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7198ec6c91eaea78",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "16ebd0e78bc77495",
                "05419768802dcf43"
            ]
        ]
    },
    {
        "id": "ed0cf66aa9a56ca0",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[delta]may-bong-6x6-01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 340,
        "wires": []
    },
    {
        "id": "16ebd0e78bc77495",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "jAEJtbQJnONTdHRVVAAj",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "jObXTChAGMRsNbRBIgoU",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "fEFsnbJAWmbXwQVkEXko",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ObGmeGznKLjLpdMUqRzc",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "lrngzDzRaLxcJcOUsiTu",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "tqPmmIMtpNFTOIhmaoQa",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TFFhYnxQrkwdShFLYlpz",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "VBksVgeTGQjmQcZdctck",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mNowIJQLgunvumObvGUZ",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "NkrqAfekAPrYlRdjUbyY",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "HtxysOzcxuCtvErsWviF",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TWkYtIJlZCqqdUFTAcNv",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TjPDBbkdrTggtUnWsoSR",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ynOYXkZZPmiXfkDMpBHZ",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "isSIDBhnNtHCZuXIpuES",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "isSIDBhnNtHCZuXIpuES",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "gSSFAzlLxwMlrcJypWSs",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 18,
        "x": 550,
        "y": 360,
        "wires": [
            [
                "9317af42a2cd466c"
            ],
            [
                "7903b1f549b25896"
            ],
            [
                "d72460462b4d12e8"
            ],
            [
                "554c064bcfee04b8"
            ],
            [
                "3ae86e194c45f694"
            ],
            [
                "d960aeab81763694"
            ],
            [
                "4f7c77d8924a76b2"
            ],
            [
                "5d44e4b837fe7f03"
            ],
            [
                "18e0a8db53dbdabe"
            ],
            [
                "65359193867ba6bf"
            ],
            [
                "7b80637cabb78b0a"
            ],
            [
                "4d0f3a77d13afaf1"
            ],
            [
                "901cfcaaa163bef2"
            ],
            [
                "af0bfad9123a3db3"
            ],
            [
                "a31bf607f768fcdd"
            ],
            [],
            [
                "9919aa77f97419d8"
            ],
            [
                "97a20664557f96a0"
            ]
        ]
    },
    {
        "id": "5dfa9bea8de0cd23",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[delta]bong-tay-trang-tui-xo-ngon",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 400,
        "wires": []
    },
    {
        "id": "b5475bf788fe686d",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[delta]may-cat-bong-01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 460,
        "wires": []
    },
    {
        "id": "9a6f63523b378939",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[delta]may-cat-bong-02",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 520,
        "wires": []
    },
    {
        "id": "9317af42a2cd466c",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "gateway/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "ed0cf66aa9a56ca0",
                "ce457a9d73c39d34"
            ]
        ]
    },
    {
        "id": "7903b1f549b25896",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "gateway/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 400,
        "wires": [
            [
                "5dfa9bea8de0cd23",
                "1ffd2c184f7b25c1"
            ]
        ]
    },
    {
        "id": "d72460462b4d12e8",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "gateway/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 460,
        "wires": [
            [
                "b5475bf788fe686d",
                "27f6ed9249e5db17"
            ]
        ]
    },
    {
        "id": "554c064bcfee04b8",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "gateway/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 520,
        "wires": [
            [
                "9a6f63523b378939",
                "abb503bd41d54535"
            ]
        ]
    },
    {
        "id": "876be8e9661d7ac7",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[counter]Máy bông cắt/ 01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 580,
        "wires": []
    },
    {
        "id": "3ae86e194c45f694",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 580,
        "wires": [
            [
                "876be8e9661d7ac7",
                "48fe8e2267566509"
            ]
        ]
    },
    {
        "id": "d541aa825f07beed",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[counter]Máy bông cắt/ 02",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 640,
        "wires": []
    },
    {
        "id": "d960aeab81763694",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 640,
        "wires": [
            [
                "d541aa825f07beed",
                "184384a868fdb0d2"
            ]
        ]
    },
    {
        "id": "d0a21c096750bf13",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[counter]Máy bông tẩy trang 6cm x 6cm/ 01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 700,
        "wires": []
    },
    {
        "id": "4f7c77d8924a76b2",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 700,
        "wires": [
            [
                "d0a21c096750bf13",
                "893fa4221c0ca49c"
            ]
        ]
    },
    {
        "id": "893fa4221c0ca49c",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "[counter[máy bông 6x6 in",
        "mode": "link",
        "links": [
            "1e3de0ed69b7f6b5"
        ],
        "x": 995,
        "y": 780,
        "wires": []
    },
    {
        "id": "ce457a9d73c39d34",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "[delta]máy bông 6x6 in",
        "mode": "link",
        "links": [
            "939c021d1ba7bcc3"
        ],
        "x": 925,
        "y": 260,
        "wires": []
    },
    {
        "id": "1ffd2c184f7b25c1",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "[delta]bong-tay-trang-tui-xo-ngon",
        "mode": "link",
        "links": [
            "9aa02056435a1dfe"
        ],
        "x": 1245,
        "y": 360,
        "wires": []
    },
    {
        "id": "27f6ed9249e5db17",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "[delta]may-cat-bong-01",
        "mode": "link",
        "links": [
            "507220fcb1c28dda"
        ],
        "x": 1255,
        "y": 440,
        "wires": []
    },
    {
        "id": "abb503bd41d54535",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "[delta]may-cat-bong-02",
        "mode": "link",
        "links": [
            "14d4bf1b6f24174c"
        ],
        "x": 1255,
        "y": 500,
        "wires": []
    },
    {
        "id": "48fe8e2267566509",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "[counter]Máy bông cắt/ 01",
        "mode": "link",
        "links": [
            "01555a02169097f5"
        ],
        "x": 1255,
        "y": 560,
        "wires": []
    },
    {
        "id": "184384a868fdb0d2",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "[counter]Máy bông cắt/ 02",
        "mode": "link",
        "links": [
            "f3e7040a0e3cad35"
        ],
        "x": 1255,
        "y": 620,
        "wires": []
    },
    {
        "id": "8cbcc18a780e9306",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[counter]Máy xỏ ngón",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 820,
        "wires": []
    },
    {
        "id": "5d44e4b837fe7f03",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 820,
        "wires": [
            [
                "8cbcc18a780e9306",
                "d3695ce7fd387660"
            ]
        ]
    },
    {
        "id": "d3695ce7fd387660",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "[counter[máy xỏ ngón",
        "mode": "link",
        "links": [
            "9952f790071a7c23"
        ],
        "x": 995,
        "y": 900,
        "wires": []
    },
    {
        "id": "97a20664557f96a0",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 700,
        "wires": []
    },
    {
        "id": "6196219162f67e42",
        "type": "function",
        "z": "547a59bae597a065",
        "name": "insert data production",
        "func": "msg.payload = [\n    {\n        strokes_per_cycle: msg.payload[0].strokes_per_cycle,\n        pieces_avg: msg.payload[0].pieces_avg,\n        pieces_max: msg.payload[0].pieces_max,\n        n_factor_avg: parseFloat((msg.payload[0].pieces_avg / msg.payload[0].strokes_per_cycle).toFixed(4)),\n        n_factor_max: parseFloat((msg.payload[0].pieces_max / msg.payload[0].strokes_per_cycle).toFixed(4)),\n    },\n    {\n        product_name: msg.payload[1].product_name,\n        machine_id: msg.payload[1].machine_id,\n        machine_name: msg.payload[1].machine_name,\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 100,
        "wires": [
            [
                "5ce08e41f8cc0842",
                "26ceea35abe492c7"
            ]
        ]
    },
    {
        "id": "26ceea35abe492c7",
        "type": "influxdb out",
        "z": "547a59bae597a065",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "production_metrics",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "9a20843b47f3133c",
        "type": "split",
        "z": "547a59bae597a065",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "6196219162f67e42"
            ]
        ]
    },
    {
        "id": "3887da38f971fb5a",
        "type": "inject",
        "z": "547a59bae597a065",
        "name": "3 máy bông 6x6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[{\"strokes_per_cycle\":3,\"pieces_avg\":31,\"pieces_max\":31.2},{\"product_name\":\"BTT Calla Sạch sâu - 30 miếng\",\"machine_id\":\"MMTB052\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 1\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":82,\"pieces_max\":83.2},{\"product_name\":\"BTT Calla Sạch sâu - 80 miếng\",\"machine_id\":\"MMTB052\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 1\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":153,\"pieces_max\":156},{\"product_name\":\"BTT Calla Sạch sâu - 150 miếng\",\"machine_id\":\"MMTB052\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 1\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":302,\"pieces_max\":323},{\"product_name\":\"BTT Calla Sạch sâu - 250g\",\"machine_id\":\"MMTB052\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 1\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":604,\"pieces_max\":646},{\"product_name\":\"BTT Calla Sạch sâu - 500g\",\"machine_id\":\"MMTB052\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 1\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":1208,\"pieces_max\":1292},{\"product_name\":\"BTT Calla Sạch sâu - 1kg\",\"machine_id\":\"MMTB052\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 1\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":31,\"pieces_max\":31.2},{\"product_name\":\"BTT Calla Sạch sâu - 30 miếng\",\"machine_id\":\"MMTB200\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 2\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":82,\"pieces_max\":83.2},{\"product_name\":\"BTT Calla Sạch sâu - 80 miếng\",\"machine_id\":\"MMTB200\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 2\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":153,\"pieces_max\":156},{\"product_name\":\"BTT Calla Sạch sâu - 150 miếng\",\"machine_id\":\"MMTB200\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 2\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":302,\"pieces_max\":323},{\"product_name\":\"BTT Calla Sạch sâu - 250g\",\"machine_id\":\"MMTB200\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 2\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":604,\"pieces_max\":646},{\"product_name\":\"BTT Calla Sạch sâu - 500g\",\"machine_id\":\"MMTB200\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 2\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":1208,\"pieces_max\":1292},{\"product_name\":\"BTT Calla Sạch sâu - 1kg\",\"machine_id\":\"MMTB200\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 2\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":31,\"pieces_max\":31.2},{\"product_name\":\"BTT Calla Sạch sâu - 30 miếng\",\"machine_id\":\"MMTB224\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 3\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":82,\"pieces_max\":83.2},{\"product_name\":\"BTT Calla Sạch sâu - 80 miếng\",\"machine_id\":\"MMTB224\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 3\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":153,\"pieces_max\":156},{\"product_name\":\"BTT Calla Sạch sâu - 150 miếng\",\"machine_id\":\"MMTB224\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 3\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":302,\"pieces_max\":323},{\"product_name\":\"BTT Calla Sạch sâu - 250g\",\"machine_id\":\"MMTB224\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 3\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":604,\"pieces_max\":646},{\"product_name\":\"BTT Calla Sạch sâu - 500g\",\"machine_id\":\"MMTB224\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 3\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":1208,\"pieces_max\":1292},{\"product_name\":\"BTT Calla Sạch sâu - 1kg\",\"machine_id\":\"MMTB224\",\"machine_name\":\"Máy Bông Tẩy Trang 6cmx6cm 3\"}]]",
        "payloadType": "json",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "9a20843b47f3133c"
            ]
        ]
    },
    {
        "id": "5ce08e41f8cc0842",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "222f1f1416a7c6a8",
        "type": "inject",
        "z": "547a59bae597a065",
        "name": "4 máy cắt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[{\"strokes_per_cycle\":18,\"pieces_avg\":286,\"pieces_max\":308},{\"product_name\":\"BTT Calla Mềm Mịn - 180 miếng\",\"machine_id\":\"MMTB066\",\"machine_name\":\"Máy Bông Cắt 1\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":397,\"pieces_max\":427},{\"product_name\":\"BTT Calla Mềm Mịn - 250g\",\"machine_id\":\"MMTB066\",\"machine_name\":\"Máy Bông Cắt 1\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":794,\"pieces_max\":855},{\"product_name\":\"BTT Calla Mềm Mịn - 500g\",\"machine_id\":\"MMTB066\",\"machine_name\":\"Máy Bông Cắt 1\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":1587,\"pieces_max\":1709},{\"product_name\":\"BTT Calla Mềm Mịn - 1kg\",\"machine_id\":\"MMTB066\",\"machine_name\":\"Máy Bông Cắt 1\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":286,\"pieces_max\":308},{\"product_name\":\"BTT Calla Mềm Mịn - 180 miếng\",\"machine_id\":\"MMTB067\",\"machine_name\":\"Máy Bông Cắt 2\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":397,\"pieces_max\":427},{\"product_name\":\"BTT Calla Mềm Mịn - 250g\",\"machine_id\":\"MMTB067\",\"machine_name\":\"Máy Bông Cắt 2\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":794,\"pieces_max\":855},{\"product_name\":\"BTT Calla Mềm Mịn - 500g\",\"machine_id\":\"MMTB067\",\"machine_name\":\"Máy Bông Cắt 2\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":1587,\"pieces_max\":1709},{\"product_name\":\"BTT Calla Mềm Mịn - 1kg\",\"machine_id\":\"MMTB067\",\"machine_name\":\"Máy Bông Cắt 2\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":286,\"pieces_max\":308},{\"product_name\":\"BTT Calla Mềm Mịn - 180 miếng\",\"machine_id\":\"MMTB274\",\"machine_name\":\"Máy Bông Cắt 3\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":397,\"pieces_max\":427},{\"product_name\":\"BTT Calla Mềm Mịn - 250g\",\"machine_id\":\"MMTB274\",\"machine_name\":\"Máy Bông Cắt 3\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":794,\"pieces_max\":855},{\"product_name\":\"BTT Calla Mềm Mịn - 500g\",\"machine_id\":\"MMTB274\",\"machine_name\":\"Máy Bông Cắt 3\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":1587,\"pieces_max\":1709},{\"product_name\":\"BTT Calla Mềm Mịn - 1kg\",\"machine_id\":\"MMTB274\",\"machine_name\":\"Máy Bông Cắt 3\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":286,\"pieces_max\":308},{\"product_name\":\"BTT Calla Mềm Mịn - 180 miếng\",\"machine_id\":\"MMTB293\",\"machine_name\":\"Máy Bông Cắt 4\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":397,\"pieces_max\":427},{\"product_name\":\"BTT Calla Mềm Mịn - 250g\",\"machine_id\":\"MMTB293\",\"machine_name\":\"Máy Bông Cắt 4\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":794,\"pieces_max\":855},{\"product_name\":\"BTT Calla Mềm Mịn - 500g\",\"machine_id\":\"MMTB293\",\"machine_name\":\"Máy Bông Cắt 4\"}],[{\"strokes_per_cycle\":18,\"pieces_avg\":1587,\"pieces_max\":1709},{\"product_name\":\"BTT Calla Mềm Mịn - 1kg\",\"machine_id\":\"MMTB293\",\"machine_name\":\"Máy Bông Cắt 4\"}]]",
        "payloadType": "json",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "9a20843b47f3133c"
            ]
        ]
    },
    {
        "id": "90665c3388eb72b3",
        "type": "inject",
        "z": "547a59bae597a065",
        "name": "4 máy tẩy trang tròn",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[{\"strokes_per_cycle\":3,\"pieces_avg\":102,\"pieces_max\":104},{\"product_name\":\"BTT Calla Velvet - 100 miếng\",\"machine_id\":\"MMTB178\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 1\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":306,\"pieces_max\":312},{\"product_name\":\"BTT Calla Velvet - 300 miếng\",\"machine_id\":\"MMTB178\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 1\"}],[{\"strokes_per_cycle\":3,\"pieces_avg\":510,\"pieces_max\":520},{\"product_name\":\"BTT Calla Velvet - 500 miếng\",\"machine_id\":\"MMTB178\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 1\"}],[{\"strokes_per_cycle\":4,\"pieces_avg\":31,\"pieces_max\":31.2},{\"product_name\":\"BTT Calla Tròn Mịn - 30 miếng\",\"machine_id\":\"MMTB195\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 2\"}],[{\"strokes_per_cycle\":4,\"pieces_avg\":153,\"pieces_max\":156},{\"product_name\":\"BTT Calla Tròn Mịn - 150 miếng\",\"machine_id\":\"MMTB195\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 2\"}],[{\"strokes_per_cycle\":4,\"pieces_avg\":31,\"pieces_max\":31.2},{\"product_name\":\"BTT Calla Tròn 3D - 30 miếng\",\"machine_id\":\"MMTB195\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 2\"}],[{\"strokes_per_cycle\":4,\"pieces_avg\":122,\"pieces_max\":124.8},{\"product_name\":\"BTT Calla Tròn 3D - 120 miếng\",\"machine_id\":\"MMTB195\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 2\"}],[{\"strokes_per_cycle\":4,\"pieces_avg\":204,\"pieces_max\":208},{\"product_name\":\"BTT Calla Tròn 3D - 200 miếng\",\"machine_id\":\"MMTB195\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 2\"}],[{\"strokes_per_cycle\":4,\"pieces_avg\":842,\"pieces_max\":907},{\"product_name\":\"BTT Calla Tròn 3D - 500g\",\"machine_id\":\"MMTB195\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 2\"}],[{\"strokes_per_cycle\":4,\"pieces_avg\":31,\"pieces_max\":31.2},{\"product_name\":\"BTT Calla Tròn Mịn - 30 miếng\",\"machine_id\":\"MMTB228\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 3\"}],[{\"strokes_per_cycle\":4,\"pieces_avg\":153,\"pieces_max\":156},{\"product_name\":\"BTT Calla Tròn Mịn - 150 miếng\",\"machine_id\":\"MMTB228\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 3\"}],[{\"strokes_per_cycle\":4,\"pieces_avg\":31,\"pieces_max\":31.2},{\"product_name\":\"BTT Calla Tròn 3D - 30 miếng\",\"machine_id\":\"MMTB228\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 3\"}],[{\"strokes_per_cycle\":4,\"pieces_avg\":122,\"pieces_max\":124.8},{\"product_name\":\"BTT Calla Tròn 3D - 120 miếng\",\"machine_id\":\"MMTB228\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 3\"}],[{\"strokes_per_cycle\":4,\"pieces_avg\":204,\"pieces_max\":208},{\"product_name\":\"BTT Calla Tròn 3D - 200 miếng\",\"machine_id\":\"MMTB228\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 3\"}],[{\"strokes_per_cycle\":4,\"pieces_avg\":842,\"pieces_max\":907},{\"product_name\":\"BTT Calla Tròn 3D - 500g\",\"machine_id\":\"MMTB228\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 3\"}],[{\"strokes_per_cycle\":5,\"pieces_avg\":31,\"pieces_max\":31.2},{\"product_name\":\"BTT Calla Tròn Mịn - 30 miếng\",\"machine_id\":\"MMTB294\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 4\"}],[{\"strokes_per_cycle\":5,\"pieces_avg\":153,\"pieces_max\":156},{\"product_name\":\"BTT Calla Tròn Mịn - 150 miếng\",\"machine_id\":\"MMTB294\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 4\"}],[{\"strokes_per_cycle\":5,\"pieces_avg\":31,\"pieces_max\":31.2},{\"product_name\":\"BTT Calla Tròn 3D - 30 miếng\",\"machine_id\":\"MMTB294\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 4\"}],[{\"strokes_per_cycle\":5,\"pieces_avg\":122,\"pieces_max\":124.8},{\"product_name\":\"BTT Calla Tròn 3D - 120 miếng\",\"machine_id\":\"MMTB294\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 4\"}],[{\"strokes_per_cycle\":5,\"pieces_avg\":204,\"pieces_max\":208},{\"product_name\":\"BTT Calla Tròn 3D - 200 miếng\",\"machine_id\":\"MMTB294\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 4\"}],[{\"strokes_per_cycle\":5,\"pieces_avg\":842,\"pieces_max\":907},{\"product_name\":\"BTT Calla Tròn 3D - 500g\",\"machine_id\":\"MMTB294\",\"machine_name\":\"Máy Bông Tẩy Trang Tròn 4\"}]]",
        "payloadType": "json",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "9a20843b47f3133c"
            ]
        ]
    },
    {
        "id": "27c657744fafb333",
        "type": "inject",
        "z": "547a59bae597a065",
        "name": "1 máy tẩy trang túi - xỏ ngón",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[{\"strokes_per_cycle\":1,\"pieces_avg\":10,\"pieces_max\":11},{\"product_name\":\"BTT Calla Dạng Túi - 10 miếng\",\"machine_id\":\"MMTB179\",\"machine_name\":\"Máy Bông Tẩy Trang Túi - Xỏ Ngón\"}],[{\"strokes_per_cycle\":1,\"pieces_avg\":82,\"pieces_max\":88},{\"product_name\":\"BTT Calla Dạng Túi - 80 miếng\",\"machine_id\":\"MMTB179\",\"machine_name\":\"Máy Bông Tẩy Trang Túi - Xỏ Ngón\"}],[{\"strokes_per_cycle\":1,\"pieces_avg\":257,\"pieces_max\":276},{\"product_name\":\"BTT Calla Dạng Túi - 250g\",\"machine_id\":\"MMTB179\",\"machine_name\":\"Máy Bông Tẩy Trang Túi - Xỏ Ngón\"}]]",
        "payloadType": "json",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "9a20843b47f3133c"
            ]
        ]
    },
    {
        "id": "cd2cea98711125a6",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[ECU-1051]Máy bông tẩy trang dạng tròn 01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 960,
        "wires": []
    },
    {
        "id": "18e0a8db53dbdabe",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 960,
        "wires": [
            [
                "cd2cea98711125a6",
                "b41f4cd9ba60f806"
            ]
        ]
    },
    {
        "id": "6574421fac696658",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[ECU-1051]Máy bông tẩy trang dạng tròn 02",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 1040,
        "wires": []
    },
    {
        "id": "65359193867ba6bf",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1040,
        "wires": [
            [
                "6574421fac696658"
            ]
        ]
    },
    {
        "id": "0ef75b23eeabfcbe",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[ECU-1051]Máy bông tẩy trang dạng tròn 03",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 1120,
        "wires": []
    },
    {
        "id": "7b80637cabb78b0a",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1120,
        "wires": [
            [
                "0ef75b23eeabfcbe",
                "3224fddfcac631da"
            ]
        ]
    },
    {
        "id": "24d5a892f0123924",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[ECU-1051]Máy bông tẩy trang dạng tròn 04",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4d0f3a77d13afaf1",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1200,
        "wires": [
            [
                "24d5a892f0123924"
            ]
        ]
    },
    {
        "id": "93bc28752058eb05",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[ECU-1051]Máy bông tẩy trang 6cm x 6cm/ 03",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1300,
        "wires": []
    },
    {
        "id": "901cfcaaa163bef2",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1300,
        "wires": [
            [
                "93bc28752058eb05",
                "4e9a1ef36c0b6ee8"
            ]
        ]
    },
    {
        "id": "e7e6cbf56868b652",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[ECU-1051]Máy bông tẩy trang 6cm x 6cm/ 02",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1380,
        "wires": []
    },
    {
        "id": "af0bfad9123a3db3",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1380,
        "wires": [
            [
                "e7e6cbf56868b652"
            ]
        ]
    },
    {
        "id": "9bf91c028776357a",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[ECU-1051]Máy bông cắt/ 03",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1460,
        "wires": []
    },
    {
        "id": "a31bf607f768fcdd",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1460,
        "wires": [
            [
                "9bf91c028776357a",
                "6f8a03da3b1c1584"
            ]
        ]
    },
    {
        "id": "3e470a6277ad6f8e",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[ECU-1051]Máy bông cắt/ 04",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1520,
        "wires": []
    },
    {
        "id": "9919aa77f97419d8",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1520,
        "wires": [
            [
                "3e470a6277ad6f8e",
                "5546c3356fd64826"
            ]
        ]
    },
    {
        "id": "fd829f4321bf38df",
        "type": "comment",
        "z": "547a59bae597a065",
        "name": "Kiểm tra bảng tin MQTT của 8 ECU",
        "info": "",
        "x": 460,
        "y": 900,
        "wires": []
    },
    {
        "id": "01f08b3d9a1d4808",
        "type": "comment",
        "z": "547a59bae597a065",
        "name": "Kiểm tra điều khiển 8 ECU",
        "info": "",
        "x": 430,
        "y": 1600,
        "wires": []
    },
    {
        "id": "9937f95f225f7b40",
        "type": "comment",
        "z": "547a59bae597a065",
        "name": "json { \"w\":[ { \"tag\":\"AO_1\", \"value\":12.88 }, { \"tag\":\"AO_2\", \"value\":18.76 } ], \"ts\":\"2017-12-28T12:22:21+0000\" }",
        "info": "",
        "x": 690,
        "y": 1660,
        "wires": []
    },
    {
        "id": "88880b6bbeb02dc4",
        "type": "mqtt in",
        "z": "547a59bae597a065",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b83544967f39d2a6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 1760,
        "wires": [
            [
                "30d6445618c068ec"
            ]
        ]
    },
    {
        "id": "30d6445618c068ec",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1760,
        "wires": []
    },
    {
        "id": "05419768802dcf43",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 540,
        "wires": []
    },
    {
        "id": "b41f4cd9ba60f806",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "[ECU-1051]Máy bông tẩy trang dạng tròn 01 out",
        "mode": "link",
        "links": [
            "d824527877604506"
        ],
        "x": 935,
        "y": 1000,
        "wires": []
    },
    {
        "id": "3224fddfcac631da",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "[ECU-1051]Máy bông tẩy trang dạng tròn 03 out",
        "mode": "link",
        "links": [
            "8d0aae6ff28dd8bd"
        ],
        "x": 935,
        "y": 1160,
        "wires": []
    },
    {
        "id": "6f8a03da3b1c1584",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "[ECU-1051]Máy bông cắt 03 out",
        "mode": "link",
        "links": [
            "49ad0e6c316f1f9d"
        ],
        "x": 925,
        "y": 1420,
        "wires": []
    },
    {
        "id": "4e9a1ef36c0b6ee8",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "[ECU-1051]Máy bông tẩy trang 6x6 03 out",
        "mode": "link",
        "links": [
            "1acc9c65683cbf82"
        ],
        "x": 925,
        "y": 1260,
        "wires": []
    },
    {
        "id": "5546c3356fd64826",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "[ECU-1051]Máy bông cắt 04 out",
        "mode": "link",
        "links": [
            "78801094b93468a6"
        ],
        "x": 925,
        "y": 1560,
        "wires": []
    },
    {
        "id": "1e3de0ed69b7f6b5",
        "type": "link in",
        "z": "43146d25428b1e63",
        "name": "[counter]máy bông 6x6 out",
        "links": [
            "893fa4221c0ca49c"
        ],
        "x": 115,
        "y": 300,
        "wires": [
            [
                "429afe6c6503134f",
                "2619406ed6f52e0a",
                "aaaa63dfef633b20"
            ]
        ]
    },
    {
        "id": "429afe6c6503134f",
        "type": "debug",
        "z": "43146d25428b1e63",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "2619406ed6f52e0a",
        "type": "function",
        "z": "43146d25428b1e63",
        "name": "insert data counter",
        "func": "msg.payload = [\n    {\n        counter: msg.payload.counter\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB052',\n        device: 'CT01W'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 400,
        "wires": [
            [
                "5038311338f78bdf"
            ]
        ]
    },
    {
        "id": "5038311338f78bdf",
        "type": "influxdb out",
        "z": "43146d25428b1e63",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "aaaa63dfef633b20",
        "type": "function",
        "z": "43146d25428b1e63",
        "name": "insert data status",
        "func": "msg.payload = [\n    {\n        status: msg.payload.D3_status\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB052',\n        device: 'CT01W'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 480,
        "wires": [
            [
                "1bdaf842d17b189b"
            ]
        ]
    },
    {
        "id": "1bdaf842d17b189b",
        "type": "influxdb out",
        "z": "43146d25428b1e63",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 510,
        "y": 480,
        "wires": []
    },
    {
        "id": "939c021d1ba7bcc3",
        "type": "link in",
        "z": "43146d25428b1e63",
        "name": "[delta]máy bông 6x6 out",
        "links": [
            "ce457a9d73c39d34"
        ],
        "x": 105,
        "y": 560,
        "wires": [
            [
                "dd20095c9d72a7d0",
                "646d77c84f6e2f73",
                "bb4bdb97ce8e3b85"
            ]
        ]
    },
    {
        "id": "dd20095c9d72a7d0",
        "type": "debug",
        "z": "43146d25428b1e63",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 560,
        "wires": []
    },
    {
        "id": "646d77c84f6e2f73",
        "type": "function",
        "z": "43146d25428b1e63",
        "name": "insert data actual",
        "func": "msg.payload = [\n    {\n        actual: msg.payload[\"may-bong-6x6-01\"][0].values.actual\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB052',\n        device: 'ESP485_WG'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 640,
        "wires": [
            [
                "281fb756d7400b20"
            ]
        ]
    },
    {
        "id": "281fb756d7400b20",
        "type": "influxdb out",
        "z": "43146d25428b1e63",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 510,
        "y": 640,
        "wires": []
    },
    {
        "id": "bb4bdb97ce8e3b85",
        "type": "function",
        "z": "43146d25428b1e63",
        "name": "insert data target",
        "func": "msg.payload = [\n    {\n        target: msg.payload[\"may-bong-6x6-01\"][0].values.target\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB052',\n        device: 'ESP485_WG'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 720,
        "wires": [
            [
                "224f7399e6845c2f"
            ]
        ]
    },
    {
        "id": "224f7399e6845c2f",
        "type": "influxdb out",
        "z": "43146d25428b1e63",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 510,
        "y": 720,
        "wires": []
    },
    {
        "id": "01555a02169097f5",
        "type": "link in",
        "z": "42948bc9125c490d",
        "name": "[counter]Máy bông cắt/01 out",
        "links": [
            "48fe8e2267566509"
        ],
        "x": 195,
        "y": 180,
        "wires": [
            [
                "8736b9b3481b1795",
                "21a0ac8275e202dd",
                "1757c461474b810f"
            ]
        ]
    },
    {
        "id": "8736b9b3481b1795",
        "type": "debug",
        "z": "42948bc9125c490d",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "21a0ac8275e202dd",
        "type": "function",
        "z": "42948bc9125c490d",
        "name": "insert data counter",
        "func": "msg.payload = [\n    {\n        counter: msg.payload.counter\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB066',\n        device: 'CT01W'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "4a60cb347d385ad2"
            ]
        ]
    },
    {
        "id": "4a60cb347d385ad2",
        "type": "influxdb out",
        "z": "42948bc9125c490d",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "1757c461474b810f",
        "type": "function",
        "z": "42948bc9125c490d",
        "name": "insert data status",
        "func": "msg.payload = [\n    {\n        status: msg.payload.D3_status\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB066',\n        device: 'CT01W'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 360,
        "wires": [
            [
                "86643d15689764c8"
            ]
        ]
    },
    {
        "id": "86643d15689764c8",
        "type": "influxdb out",
        "z": "42948bc9125c490d",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "507220fcb1c28dda",
        "type": "link in",
        "z": "42948bc9125c490d",
        "name": "[delta]may-cat-bong-01-out",
        "links": [
            "27f6ed9249e5db17"
        ],
        "x": 185,
        "y": 440,
        "wires": [
            [
                "14d2059a401ef62c",
                "9ab3be8960597a40",
                "c88435ec1c0ffd53"
            ]
        ]
    },
    {
        "id": "14d2059a401ef62c",
        "type": "debug",
        "z": "42948bc9125c490d",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 440,
        "wires": []
    },
    {
        "id": "9ab3be8960597a40",
        "type": "function",
        "z": "42948bc9125c490d",
        "name": "insert data actual",
        "func": "msg.payload = [\n    {\n        actual: msg.payload[\"may-cat-bong-01\"][0].values.actual\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB066',\n        device: 'ESP485_WG'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 520,
        "wires": [
            [
                "c5dbde5ddf1d2948"
            ]
        ]
    },
    {
        "id": "c5dbde5ddf1d2948",
        "type": "influxdb out",
        "z": "42948bc9125c490d",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "c88435ec1c0ffd53",
        "type": "function",
        "z": "42948bc9125c490d",
        "name": "insert data target",
        "func": "msg.payload = [\n    {\n        target: msg.payload[\"may-cat-bong-01\"][0].values.target\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB066',\n        device: 'ESP485_WG'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 600,
        "wires": [
            [
                "afd03a19d9bcbf2b"
            ]
        ]
    },
    {
        "id": "afd03a19d9bcbf2b",
        "type": "influxdb out",
        "z": "42948bc9125c490d",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "f3e7040a0e3cad35",
        "type": "link in",
        "z": "3285a4c8af3a7c07",
        "name": "[counter]Máy bông cắt/02 out",
        "links": [
            "184384a868fdb0d2"
        ],
        "x": 325,
        "y": 200,
        "wires": [
            [
                "25688a21f15e5aa0",
                "7a170016f13afe0e",
                "719770162beac85f"
            ]
        ]
    },
    {
        "id": "25688a21f15e5aa0",
        "type": "debug",
        "z": "3285a4c8af3a7c07",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "7a170016f13afe0e",
        "type": "function",
        "z": "3285a4c8af3a7c07",
        "name": "insert data counter",
        "func": "msg.payload = [\n    {\n        counter: msg.payload.counter\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB067',\n        device: 'CT01W'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "d5e31b5b84bec48a"
            ]
        ]
    },
    {
        "id": "d5e31b5b84bec48a",
        "type": "influxdb out",
        "z": "3285a4c8af3a7c07",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "719770162beac85f",
        "type": "function",
        "z": "3285a4c8af3a7c07",
        "name": "insert data status",
        "func": "msg.payload = [\n    {\n        status: msg.payload.D3_status\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB067',\n        device: 'CT01W'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 380,
        "wires": [
            [
                "f510b4dc0f5f4e8a"
            ]
        ]
    },
    {
        "id": "f510b4dc0f5f4e8a",
        "type": "influxdb out",
        "z": "3285a4c8af3a7c07",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "14d4bf1b6f24174c",
        "type": "link in",
        "z": "3285a4c8af3a7c07",
        "name": "[delta]may-cat-bong-02-out",
        "links": [
            "abb503bd41d54535"
        ],
        "x": 315,
        "y": 460,
        "wires": [
            [
                "2ee8647c18024c0c",
                "0cdecbec644fec59",
                "dba16af58c9d078e"
            ]
        ]
    },
    {
        "id": "2ee8647c18024c0c",
        "type": "debug",
        "z": "3285a4c8af3a7c07",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "0cdecbec644fec59",
        "type": "function",
        "z": "3285a4c8af3a7c07",
        "name": "insert data actual",
        "func": "msg.payload = [\n    {\n        actual: msg.payload[\"may-cat-bong-02\"][0].values.actual\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB067',\n        device: 'ESP485_WG'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 540,
        "wires": [
            [
                "25baef058cde280e"
            ]
        ]
    },
    {
        "id": "25baef058cde280e",
        "type": "influxdb out",
        "z": "3285a4c8af3a7c07",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 720,
        "y": 540,
        "wires": []
    },
    {
        "id": "dba16af58c9d078e",
        "type": "function",
        "z": "3285a4c8af3a7c07",
        "name": "insert data target",
        "func": "msg.payload = [\n    {\n        target: msg.payload[\"may-cat-bong-02\"][0].values.target\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB067',\n        device: 'ESP485_WG'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 620,
        "wires": [
            [
                "3428b295956ec3a1"
            ]
        ]
    },
    {
        "id": "3428b295956ec3a1",
        "type": "influxdb out",
        "z": "3285a4c8af3a7c07",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 720,
        "y": 620,
        "wires": []
    },
    {
        "id": "9952f790071a7c23",
        "type": "link in",
        "z": "7555dfac4acb6bb1",
        "name": "[counter]máy bông 6x6 out",
        "links": [
            "d3695ce7fd387660"
        ],
        "x": 315,
        "y": 180,
        "wires": [
            [
                "b1844ea084bbd9a7",
                "ec89041774f95423",
                "775dd27f18a9be2d"
            ]
        ]
    },
    {
        "id": "b1844ea084bbd9a7",
        "type": "debug",
        "z": "7555dfac4acb6bb1",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "ec89041774f95423",
        "type": "function",
        "z": "7555dfac4acb6bb1",
        "name": "insert data counter",
        "func": "msg.payload = [\n    {\n        counter: msg.payload.counter\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB179',\n        device: 'CT01W'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "158ae4020b5a89da"
            ]
        ]
    },
    {
        "id": "158ae4020b5a89da",
        "type": "influxdb out",
        "z": "7555dfac4acb6bb1",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "775dd27f18a9be2d",
        "type": "function",
        "z": "7555dfac4acb6bb1",
        "name": "insert data status",
        "func": "msg.payload = [\n    {\n        status: msg.payload.D3_status\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB179',\n        device: 'CT01W'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 360,
        "wires": [
            [
                "7f4f2feaa9633edc"
            ]
        ]
    },
    {
        "id": "7f4f2feaa9633edc",
        "type": "influxdb out",
        "z": "7555dfac4acb6bb1",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "9aa02056435a1dfe",
        "type": "link in",
        "z": "7555dfac4acb6bb1",
        "name": "[delta]máy xỏ ngón",
        "links": [
            "1ffd2c184f7b25c1"
        ],
        "x": 305,
        "y": 440,
        "wires": [
            [
                "d1265c21835cbed7",
                "1338db9246938b5b",
                "019a6cd16cd62558"
            ]
        ]
    },
    {
        "id": "d1265c21835cbed7",
        "type": "debug",
        "z": "7555dfac4acb6bb1",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 440,
        "wires": []
    },
    {
        "id": "1338db9246938b5b",
        "type": "function",
        "z": "7555dfac4acb6bb1",
        "name": "insert data actual",
        "func": "msg.payload = [\n    {\n        actual: msg.payload[\"bong-tay-trang-tui-xo-ngon\"][0].values.actual\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB179',\n        device: 'ESP485_WG'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "003fec952b51f687"
            ]
        ]
    },
    {
        "id": "003fec952b51f687",
        "type": "influxdb out",
        "z": "7555dfac4acb6bb1",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "019a6cd16cd62558",
        "type": "function",
        "z": "7555dfac4acb6bb1",
        "name": "insert data target",
        "func": "msg.payload = [\n    {\n        target: msg.payload[\"bong-tay-trang-tui-xo-ngon\"][0].values.target\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB179',\n        device: 'ESP485_WG'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 600,
        "wires": [
            [
                "22e5c02daebc3052"
            ]
        ]
    },
    {
        "id": "22e5c02daebc3052",
        "type": "influxdb out",
        "z": "7555dfac4acb6bb1",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 710,
        "y": 600,
        "wires": []
    },
    {
        "id": "d824527877604506",
        "type": "link in",
        "z": "c05ce6de134a9170",
        "name": "[ECU-1051]Máy bông tẩy trang dạng tròn 03 in",
        "links": [
            "b41f4cd9ba60f806"
        ],
        "x": 165,
        "y": 160,
        "wires": [
            [
                "a95fec7bf41b212c"
            ]
        ]
    },
    {
        "id": "a95fec7bf41b212c",
        "type": "debug",
        "z": "c05ce6de134a9170",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 160,
        "wires": []
    },
    {
        "id": "8d0aae6ff28dd8bd",
        "type": "link in",
        "z": "5c7160247c5d11a7",
        "name": "[ECU-1051]Máy bông tẩy trang dạng tròn 03 in",
        "links": [
            "3224fddfcac631da",
            "27182e05ce6cda4d"
        ],
        "x": 115,
        "y": 160,
        "wires": [
            [
                "ac582ba8894ee467",
                "cd2f9a1d16531788",
                "8240790ce426fe74",
                "2ade601d559a7b69",
                "387334cff279d9ee",
                "88b1191b6f820e7e"
            ]
        ]
    },
    {
        "id": "ac582ba8894ee467",
        "type": "debug",
        "z": "5c7160247c5d11a7",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 160,
        "wires": []
    },
    {
        "id": "9ec4334e1fa4cb54",
        "type": "inject",
        "z": "5c7160247c5d11a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ts\":1775965050000,\"values\":{\"#DISABLE_DEVICE_PLC_DELTA\":0,\"#BATCH_WRITE_PLC_DELTA\":1,\"#DEVICE_ERROR_PLC_DELTA\":0,\"PLC_DELTA:target\":1080,\"PLC_DELTA:actual\":392,\"PLC_DELTA:reset_actual\":392,\"#DISABLE_PORT_COM1\":0,\"#DISABLE_DEVICE_PLC_MITSU_FX3U\":0,\"#BATCH_WRITE_PLC_MITSU_FX3U\":0,\"#DEVICE_ERROR_PLC_MITSU_FX3U\":0,\"PLC_MITSU_FX3U:green_light\":1,\"PLC_MITSU_FX3U:yellow_light\":0,\"PLC_MITSU_FX3U:red_light\":0,\"PLC_MITSU_FX3U:err_ems_cabin\":1,\"PLC_MITSU_FX3U:err_ems_ops\":1,\"PLC_MITSU_FX3U:err_ejector_pin\":0,\"PLC_MITSU_FX3U:err_cutter\":0,\"PLC_MITSU_FX3U:err_forming\":0,\"PLC_MITSU_FX3U:speed_ppm\":400,\"PLC_MITSU_FX3U:total_pcs_count\":49908,\"PLC_MITSU_FX3U:cotton_sep_qty\":11,\"PLC_MITSU_FX3U:reset_total\":0}}",
        "payloadType": "json",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "ac582ba8894ee467",
                "cd2f9a1d16531788",
                "8240790ce426fe74",
                "2ade601d559a7b69",
                "387334cff279d9ee",
                "88b1191b6f820e7e"
            ]
        ]
    },
    {
        "id": "cd2f9a1d16531788",
        "type": "function",
        "z": "5c7160247c5d11a7",
        "name": "insert data counter",
        "func": "msg.payload = [\n    {\n        counter: msg.payload.values[\"PLC_MITSU_FX3U:total_pcs_count\"]\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB228',\n        device: 'ECU1051-PLCMITSU'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "464aee4b6973bb94"
            ]
        ]
    },
    {
        "id": "464aee4b6973bb94",
        "type": "influxdb out",
        "z": "5c7160247c5d11a7",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "8240790ce426fe74",
        "type": "function",
        "z": "5c7160247c5d11a7",
        "name": "insert data status",
        "func": "msg.payload = [\n    {\n        status: (Number(msg.payload.values[\"PLC_MITSU_FX3U:green_light\"]) === 1) ? 0 : 1\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB228',\n        device: 'ECU1051-PLCMITSU'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 320,
        "wires": [
            [
                "464aee4b6973bb94"
            ]
        ]
    },
    {
        "id": "2ade601d559a7b69",
        "type": "function",
        "z": "5c7160247c5d11a7",
        "name": "insert data state code",
        "func": "let state_code;\nlet error_mask = 0;\nconst v = msg.payload.values;\n\n// 1. Luôn tính toán error_mask độc lập để thống kê\nif (v[\"PLC_MITSU_FX3U:err_ems_cabin\"])   error_mask += 1;\nif (v[\"PLC_MITSU_FX3U:err_ems_ops\"])     error_mask += 2;\nif (v[\"PLC_MITSU_FX3U:err_ejector_pin\"]) error_mask += 4;\nif (v[\"PLC_MITSU_FX3U:err_cutter\"])      error_mask += 8;\nif (v[\"PLC_MITSU_FX3U:err_forming\"])     error_mask += 16;\n\n// 2. Xác định state_code ưu tiên ĐÈN XANH (theo ý bạn)\nif (v[\"PLC_MITSU_FX3U:green_light\"]) {\n    state_code = 1; // Ưu tiên hiển thị Xanh\n} else if (v[\"PLC_MITSU_FX3U:yellow_light\"]) {\n    state_code = 2; // Ưu tiên hiển thị Vàng\n} else if (v[\"PLC_MITSU_FX3U:red_light\"] || error_mask > 0) {\n    state_code = 3; // Chỉ hiện Đỏ khi không Xanh/Vàng mà có lỗi\n} else {\n    state_code = -1;\n}\n\n// 3. Đóng gói dữ liệu để gửi lên InfluxDB\nmsg.payload = [\n    {\n        state_code: state_code,      // Biến này để làm màu sắc Dashboard (Xanh/Vàng)\n        error_mask: error_mask,      // Biến này ĐỘC LẬP để vẽ biểu đồ tròn lỗi\n        has_error: error_mask > 0 ? 1 : 0 // Cờ báo hiệu có lỗi tiềm ẩn\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB228',\n        device: 'ECU1051-PLCMITSU'\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "a8e8021f31ccb59d",
                "464aee4b6973bb94"
            ]
        ]
    },
    {
        "id": "a8e8021f31ccb59d",
        "type": "debug",
        "z": "5c7160247c5d11a7",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "387334cff279d9ee",
        "type": "function",
        "z": "5c7160247c5d11a7",
        "name": "insert data actual",
        "func": "msg.payload = [\n    {\n        actual: msg.payload.values[\"PLC_DELTA:actual\"]\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB228',\n        device: 'ECU1051-PLCDELTA'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 520,
        "wires": [
            [
                "464aee4b6973bb94"
            ]
        ]
    },
    {
        "id": "88b1191b6f820e7e",
        "type": "function",
        "z": "5c7160247c5d11a7",
        "name": "insert data target",
        "func": "msg.payload = [\n    {\n        target: msg.payload.values[\"PLC_DELTA:target\"]\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB228',\n        device: 'ECU1051-PLCDELTA'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 600,
        "wires": [
            [
                "464aee4b6973bb94"
            ]
        ]
    },
    {
        "id": "49ad0e6c316f1f9d",
        "type": "link in",
        "z": "8d09205ba1926ae5",
        "name": "[ECU-1051]Máy bông cắt 03 in",
        "links": [
            "6f8a03da3b1c1584"
        ],
        "x": 355,
        "y": 140,
        "wires": [
            [
                "f06ff3bc4fc7d46e",
                "fc205457031e23aa",
                "0d81d2c1baf277f6",
                "4da55166ed7361ac",
                "3011608c6d215f2c"
            ]
        ]
    },
    {
        "id": "622ca673f970370d",
        "type": "debug",
        "z": "8d09205ba1926ae5",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "22c5dac25e38cc56",
        "type": "inject",
        "z": "8d09205ba1926ae5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ts\":1775965245000,\"values\":{\"#DISABLE_DEVICE_PLC_DELTA\":0,\"#BATCH_WRITE_PLC_DELTA\":1,\"#DEVICE_ERROR_PLC_DELTA\":0,\"PLC_DELTA:target\":500,\"PLC_DELTA:actual\":60,\"PLC_DELTA:reset_actual\":60,\"#DISABLE_PORT_COM1\":0,\"#DISABLE_DEVICE_PLC_MITSU_FX5U\":0,\"#BATCH_WRITE_PLC_MITSU_FX5U\":0,\"#DEVICE_ERROR_PLC_MITSU_FX5U\":0,\"PLC_MITSU_FX5U:green_light\":1,\"PLC_MITSU_FX5U:yellow_light\":0,\"PLC_MITSU_FX5U:red_light\":0,\"PLC_MITSU_FX5U:err_servo_pattern_1\":0,\"PLC_MITSU_FX5U:err_servo_pattern_2\":0,\"PLC_MITSU_FX5U:err_servo_film_splitter\":0,\"PLC_MITSU_FX5U:err_servo_film_pull\":0,\"PLC_MITSU_FX5U:err_motor_film_cut\":0,\"PLC_MITSU_FX5U:sen_cutter_count\":0,\"PLC_MITSU_FX5U:counter\":2747,\"PLC_MITSU_FX5U:rst_counter\":0,\"#WLAN0_AP_MAC\":39970243761608}}",
        "payloadType": "json",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "622ca673f970370d",
                "f06ff3bc4fc7d46e",
                "fc205457031e23aa",
                "0d81d2c1baf277f6",
                "4da55166ed7361ac",
                "3011608c6d215f2c"
            ]
        ]
    },
    {
        "id": "f06ff3bc4fc7d46e",
        "type": "function",
        "z": "8d09205ba1926ae5",
        "name": "insert data counter",
        "func": "msg.payload = [\n    {\n        counter: msg.payload.values[\"PLC_MITSU_FX5U:counter\"]\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB274',\n        device: 'ECU1051-PLCMITSU'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 220,
        "wires": [
            [
                "22183e533d69a17c"
            ]
        ]
    },
    {
        "id": "22183e533d69a17c",
        "type": "influxdb out",
        "z": "8d09205ba1926ae5",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "fc205457031e23aa",
        "type": "function",
        "z": "8d09205ba1926ae5",
        "name": "insert data status",
        "func": "msg.payload = [\n    {\n        status: (Number(msg.payload.values[\"PLC_MITSU_FX5U:green_light\"]) === 1) ? 0 : 1\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB274',\n        device: 'ECU1051-PLCMITSU'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            [
                "22183e533d69a17c"
            ]
        ]
    },
    {
        "id": "0d81d2c1baf277f6",
        "type": "function",
        "z": "8d09205ba1926ae5",
        "name": "insert data state code",
        "func": "let state_code;\nlet error_mask = 0;\nconst v = msg.payload.values;\n\n// 1. Luôn tính toán error_mask độc lập để thống kê\nif (v[\"PLC_MITSU_FX5U:err_servo_pattern_1\"])   error_mask += 1;\nif (v[\"PLC_MITSU_FX5U:err_servo_pattern_2\"])     error_mask += 2;\nif (v[\"PLC_MITSU_FX5U:err_servo_film_splitter\"]) error_mask += 4;\nif (v[\"PLC_MITSU_FX5U:err_servo_film_pull\"])      error_mask += 8;\nif (v[\"PLC_MITSU_FX5U:err_motor_film_cut\"])     error_mask += 16;\n\n// 2. Xác định state_code ưu tiên ĐÈN XANH (theo ý bạn)\nif (v[\"PLC_MITSU_FX5U:green_light\"]) {\n    state_code = 1; // Ưu tiên hiển thị Xanh\n} else if (v[\"PLC_MITSU_FX5U:yellow_light\"]) {\n    state_code = 2; // Ưu tiên hiển thị Vàng\n} else if (v[\"PLC_MITSU_FX5U:red_light\"] || error_mask > 0) {\n    state_code = 3; // Chỉ hiện Đỏ khi không Xanh/Vàng mà có lỗi\n} else {\n    state_code = -1;\n}\n\n// 3. Đóng gói dữ liệu để gửi lên InfluxDB\nmsg.payload = [\n    {\n        state_code: state_code,      // Biến này để làm màu sắc Dashboard (Xanh/Vàng)\n        error_mask: error_mask,      // Biến này ĐỘC LẬP để vẽ biểu đồ tròn lỗi\n        has_error: error_mask > 0 ? 1 : 0 // Cờ báo hiệu có lỗi tiềm ẩn\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB274',\n        device: 'ECU1051-PLCMITSU'\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 380,
        "wires": [
            [
                "22183e533d69a17c",
                "4dcd092c50ed9979"
            ]
        ]
    },
    {
        "id": "4dcd092c50ed9979",
        "type": "debug",
        "z": "8d09205ba1926ae5",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "4da55166ed7361ac",
        "type": "function",
        "z": "8d09205ba1926ae5",
        "name": "insert data actual",
        "func": "msg.payload = [\n    {\n        actual: msg.payload.values[\"PLC_DELTA:actual\"]\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB274',\n        device: 'ECU1051-PLCDELTA'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 500,
        "wires": [
            [
                "22183e533d69a17c"
            ]
        ]
    },
    {
        "id": "3011608c6d215f2c",
        "type": "function",
        "z": "8d09205ba1926ae5",
        "name": "insert data target",
        "func": "msg.payload = [\n    {\n        target: msg.payload.values[\"PLC_DELTA:target\"]\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB274',\n        device: 'ECU1051-PLCDELTA'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 580,
        "wires": [
            [
                "22183e533d69a17c"
            ]
        ]
    },
    {
        "id": "78801094b93468a6",
        "type": "link in",
        "z": "a61be07d8a581ec2",
        "name": "[ECU-1051]Máy bông cắt 04 in",
        "links": [
            "5546c3356fd64826"
        ],
        "x": 355,
        "y": 120,
        "wires": [
            [
                "913678c928e090cb",
                "cc36deb59b44ed31",
                "47eb259f705de06c",
                "f4d2b45ffc3366cf",
                "0bc62513ef46c1c8"
            ]
        ]
    },
    {
        "id": "710179ce77250d0c",
        "type": "debug",
        "z": "a61be07d8a581ec2",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "8fefd7299e961685",
        "type": "inject",
        "z": "a61be07d8a581ec2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ts\":1775965245000,\"values\":{\"#DISABLE_DEVICE_PLC_DELTA\":0,\"#BATCH_WRITE_PLC_DELTA\":1,\"#DEVICE_ERROR_PLC_DELTA\":0,\"PLC_DELTA:target\":500,\"PLC_DELTA:actual\":60,\"PLC_DELTA:reset_actual\":60,\"#DISABLE_PORT_COM1\":0,\"#DISABLE_DEVICE_PLC_MITSU_FX5U\":0,\"#BATCH_WRITE_PLC_MITSU_FX5U\":0,\"#DEVICE_ERROR_PLC_MITSU_FX5U\":0,\"PLC_MITSU_FX5U:green_light\":1,\"PLC_MITSU_FX5U:yellow_light\":0,\"PLC_MITSU_FX5U:red_light\":0,\"PLC_MITSU_FX5U:err_servo_pattern_1\":0,\"PLC_MITSU_FX5U:err_servo_pattern_2\":0,\"PLC_MITSU_FX5U:err_servo_film_splitter\":0,\"PLC_MITSU_FX5U:err_servo_film_pull\":0,\"PLC_MITSU_FX5U:err_motor_film_cut\":0,\"PLC_MITSU_FX5U:sen_cutter_count\":0,\"PLC_MITSU_FX5U:counter\":2747,\"PLC_MITSU_FX5U:rst_counter\":0,\"#WLAN0_AP_MAC\":39970243761608}}",
        "payloadType": "json",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "710179ce77250d0c",
                "913678c928e090cb",
                "cc36deb59b44ed31",
                "47eb259f705de06c",
                "f4d2b45ffc3366cf",
                "0bc62513ef46c1c8"
            ]
        ]
    },
    {
        "id": "913678c928e090cb",
        "type": "function",
        "z": "a61be07d8a581ec2",
        "name": "insert data counter",
        "func": "msg.payload = [\n    {\n        counter: msg.payload.values[\"PLC_MITSU_FX5U:counter\"]\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB293',\n        device: 'ECU1051-PLCMITSU'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "bf484a651d052565"
            ]
        ]
    },
    {
        "id": "bf484a651d052565",
        "type": "influxdb out",
        "z": "a61be07d8a581ec2",
        "influxdb": "3ba38ac2ba59e1ab",
        "name": "bbt",
        "measurement": "bbt_realtime",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "cc36deb59b44ed31",
        "type": "function",
        "z": "a61be07d8a581ec2",
        "name": "insert data status",
        "func": "msg.payload = [\n    {\n        status: (Number(msg.payload.values[\"PLC_MITSU_FX5U:green_light\"]) === 1) ? 0 : 1\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB293',\n        device: 'ECU1051-PLCMITSU'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "bf484a651d052565"
            ]
        ]
    },
    {
        "id": "47eb259f705de06c",
        "type": "function",
        "z": "a61be07d8a581ec2",
        "name": "insert data state code",
        "func": "let state_code;\nlet error_mask = 0;\nconst v = msg.payload.values;\n\n// 1. Luôn tính toán error_mask độc lập để thống kê\nif (v[\"PLC_MITSU_FX5U:err_servo_pattern_1\"])   error_mask += 1;\nif (v[\"PLC_MITSU_FX5U:err_servo_pattern_2\"])     error_mask += 2;\nif (v[\"PLC_MITSU_FX5U:err_servo_film_splitter\"]) error_mask += 4;\nif (v[\"PLC_MITSU_FX5U:err_servo_film_pull\"])      error_mask += 8;\nif (v[\"PLC_MITSU_FX5U:err_motor_film_cut\"])     error_mask += 16;\n\n// 2. Xác định state_code ưu tiên ĐÈN XANH (theo ý bạn)\nif (v[\"PLC_MITSU_FX5U:green_light\"]) {\n    state_code = 1; // Ưu tiên hiển thị Xanh\n} else if (v[\"PLC_MITSU_FX5U:yellow_light\"]) {\n    state_code = 2; // Ưu tiên hiển thị Vàng\n} else if (v[\"PLC_MITSU_FX5U:red_light\"] || error_mask > 0) {\n    state_code = 3; // Chỉ hiện Đỏ khi không Xanh/Vàng mà có lỗi\n} else {\n    state_code = -1;\n}\n\n// 3. Đóng gói dữ liệu để gửi lên InfluxDB\nmsg.payload = [\n    {\n        state_code: state_code,      // Biến này để làm màu sắc Dashboard (Xanh/Vàng)\n        error_mask: error_mask,      // Biến này ĐỘC LẬP để vẽ biểu đồ tròn lỗi\n        has_error: error_mask > 0 ? 1 : 0 // Cờ báo hiệu có lỗi tiềm ẩn\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB293',\n        device: 'ECU1051-PLCMITSU'\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 360,
        "wires": [
            [
                "bf484a651d052565",
                "91a3ba09c88341b9"
            ]
        ]
    },
    {
        "id": "91a3ba09c88341b9",
        "type": "debug",
        "z": "a61be07d8a581ec2",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "f4d2b45ffc3366cf",
        "type": "function",
        "z": "a61be07d8a581ec2",
        "name": "insert data actual",
        "func": "msg.payload = [\n    {\n        actual: msg.payload.values[\"PLC_DELTA:actual\"]\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB293',\n        device: 'ECU1051-PLCDELTA'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 480,
        "wires": [
            [
                "bf484a651d052565"
            ]
        ]
    },
    {
        "id": "0bc62513ef46c1c8",
        "type": "function",
        "z": "a61be07d8a581ec2",
        "name": "insert data target",
        "func": "msg.payload = [\n    {\n        target: msg.payload.values[\"PLC_DELTA:target\"]\n    },\n    {\n        factory: 'Bông Bạch Tuyết Vĩnh Lộc',\n        system: 'Công đoạn thành phẩm',\n        machine: 'MMTB293',\n        device: 'ECU1051-PLCDELTA'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 560,
        "wires": [
            [
                "bf484a651d052565"
            ]
        ]
    },
    {
        "id": "1acc9c65683cbf82",
        "type": "link in",
        "z": "8d38d595ca3f424b",
        "name": "[ECU-1051]Máy bông tẩy trang 6x6 03 in",
        "links": [
            "4e9a1ef36c0b6ee8"
        ],
        "x": 235,
        "y": 220,
        "wires": [
            [
                "91db14c8cc5888c7"
            ]
        ]
    },
    {
        "id": "91db14c8cc5888c7",
        "type": "debug",
        "z": "8d38d595ca3f424b",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "7ff63c9c5baaad24",
        "type": "inject",
        "z": "8d38d595ca3f424b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ts\":1775966240000,\"values\":{\"#DISABLE_DEVICE_PLC_DELTA\":0,\"#BATCH_WRITE_PLC_DELTA\":1,\"#DEVICE_ERROR_PLC_DELTA\":0,\"PLC_DELTA:target\":360,\"PLC_DELTA:actual\":200,\"PLC_DELTA:reset_actual\":200,\"#DISABLE_DEVICE_PLC_MITSU_FX3U_2\":0,\"#BATCH_WRITE_PLC_MITSU_FX3U_2\":0,\"#DEVICE_ERROR_PLC_MITSU_FX3U_2\":-32764,\"PLC_MITSU_FX3U_2:green_light\":0,\"PLC_MITSU_FX3U_2:yellow_light\":0,\"PLC_MITSU_FX3U_2:red_light\":0,\"PLC_MITSU_FX3U_2:err_ems\":0,\"PLC_MITSU_FX3U_2:err_servo\":0,\"PLC_MITSU_FX3U_2:err_inv\":0,\"PLC_MITSU_FX3U_2:speed_ppm\":441,\"PLC_MITSU_FX3U_2:total_pcs_count\":23253,\"PLC_MITSU_FX3U_2:reset_total\":0}}",
        "payloadType": "json",
        "x": 250,
        "y": 320,
        "wires": [
            []
        ]
    }
]