bbt/app/flows.json
[
    {
        "id": "547a59bae597a065",
        "type": "tab",
        "label": "4 máy không PLC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43146d25428b1e63",
        "type": "tab",
        "label": "Máy bông tẩy trang 6x6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7198ec6c91eaea78",
        "type": "mqtt-broker",
        "name": "admin",
        "broker": "176.76.1.41",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "51f705db47c816b7",
        "type": "mqtt in",
        "z": "547a59bae597a065",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7198ec6c91eaea78",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "16ebd0e78bc77495"
            ]
        ]
    },
    {
        "id": "ed0cf66aa9a56ca0",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[delta]may-bong-6x6-01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 340,
        "wires": []
    },
    {
        "id": "16ebd0e78bc77495",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "jAEJtbQJnONTdHRVVAAj",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "jObXTChAGMRsNbRBIgoU",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "fEFsnbJAWmbXwQVkEXko",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ObGmeGznKLjLpdMUqRzc",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "lrngzDzRaLxcJcOUsiTu",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "tqPmmIMtpNFTOIhmaoQa",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TFFhYnxQrkwdShFLYlpz",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 550,
        "y": 360,
        "wires": [
            [
                "9317af42a2cd466c"
            ],
            [
                "7903b1f549b25896"
            ],
            [
                "d72460462b4d12e8"
            ],
            [
                "554c064bcfee04b8"
            ],
            [
                "3ae86e194c45f694"
            ],
            [
                "d960aeab81763694"
            ],
            [
                "4f7c77d8924a76b2"
            ]
        ]
    },
    {
        "id": "5dfa9bea8de0cd23",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[delta]bong-tay-trang-tui-xo-ngon",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 400,
        "wires": []
    },
    {
        "id": "b5475bf788fe686d",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[delta]may-cat-bong-01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 460,
        "wires": []
    },
    {
        "id": "9a6f63523b378939",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[delta]may-cat-bong-02",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 520,
        "wires": []
    },
    {
        "id": "9317af42a2cd466c",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "gateway/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "ed0cf66aa9a56ca0"
            ]
        ]
    },
    {
        "id": "7903b1f549b25896",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "gateway/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 400,
        "wires": [
            [
                "5dfa9bea8de0cd23"
            ]
        ]
    },
    {
        "id": "d72460462b4d12e8",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "gateway/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 460,
        "wires": [
            [
                "b5475bf788fe686d"
            ]
        ]
    },
    {
        "id": "554c064bcfee04b8",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "gateway/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 520,
        "wires": [
            [
                "9a6f63523b378939"
            ]
        ]
    },
    {
        "id": "876be8e9661d7ac7",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[counter]Máy bông cắt/ 01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 580,
        "wires": []
    },
    {
        "id": "3ae86e194c45f694",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 580,
        "wires": [
            [
                "876be8e9661d7ac7"
            ]
        ]
    },
    {
        "id": "d541aa825f07beed",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[counter]Máy bông cắt/ 02",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 640,
        "wires": []
    },
    {
        "id": "d960aeab81763694",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 640,
        "wires": [
            [
                "d541aa825f07beed"
            ]
        ]
    },
    {
        "id": "d0a21c096750bf13",
        "type": "debug",
        "z": "547a59bae597a065",
        "name": "[counter]Máy bông tẩy trang 6cm x 6cm/ 01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 700,
        "wires": []
    },
    {
        "id": "4f7c77d8924a76b2",
        "type": "switch",
        "z": "547a59bae597a065",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "devices/me/telemetry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 700,
        "wires": [
            [
                "d0a21c096750bf13",
                "893fa4221c0ca49c"
            ]
        ]
    },
    {
        "id": "893fa4221c0ca49c",
        "type": "link out",
        "z": "547a59bae597a065",
        "name": "máy bông 6x6 in",
        "mode": "link",
        "links": [
            "1e3de0ed69b7f6b5"
        ],
        "x": 995,
        "y": 780,
        "wires": []
    },
    {
        "id": "1e3de0ed69b7f6b5",
        "type": "link in",
        "z": "43146d25428b1e63",
        "name": "máy bông 6x6 out",
        "links": [
            "893fa4221c0ca49c"
        ],
        "x": 215,
        "y": 300,
        "wires": [
            [
                "429afe6c6503134f"
            ]
        ]
    },
    {
        "id": "429afe6c6503134f",
        "type": "debug",
        "z": "43146d25428b1e63",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 300,
        "wires": []
    }
]