chapter03/app/flows/flow.json
[
    {
        "id": "ca46a7ecc95f279c",
        "type": "tab",
        "label": "SenseHAT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f1ce94b2a86af445",
        "type": "ui_tab",
        "name": "SenseHAT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1e7df6253ebfa89d",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "f1ce94b2a86af445",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "096ad15f0ac2d734",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "f1ce94b2a86af445",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "c7c4f749026f6007",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "f1ce94b2a86af445",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "b02a2a16f4bdf24d",
        "type": "rpi-sensehatsim in",
        "z": "ca46a7ecc95f279c",
        "name": "",
        "motion": false,
        "env": true,
        "stick": true,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "2de2874a9f7b590b"
            ]
        ]
    },
    {
        "id": "bb0c0e9bf4cde791",
        "type": "rpi-sensehatsim out",
        "z": "ca46a7ecc95f279c",
        "name": "",
        "x": 420,
        "y": 620,
        "wires": []
    },
    {
        "id": "43062d9b4e6ce984",
        "type": "inject",
        "z": "ca46a7ecc95f279c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 620,
        "wires": [
            [
                "bb0c0e9bf4cde791"
            ]
        ]
    },
    {
        "id": "3dd24d870cd8d992",
        "type": "comment",
        "z": "ca46a7ecc95f279c",
        "name": "Temperature, humidity, pressure",
        "info": "",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "50b436baaeb60a24",
        "type": "comment",
        "z": "ca46a7ecc95f279c",
        "name": "Led matrix",
        "info": "",
        "x": 400,
        "y": 580,
        "wires": []
    },
    {
        "id": "2de2874a9f7b590b",
        "type": "throttle",
        "z": "ca46a7ecc95f279c",
        "name": "",
        "throttleType": "time",
        "timeLimit": "1",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": true,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "f18eeb595cbdda24",
                "c14239f28470e15b",
                "8780747171568c66",
                "e8ec22674a223296"
            ]
        ]
    },
    {
        "id": "f18eeb595cbdda24",
        "type": "change",
        "z": "ca46a7ecc95f279c",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "465ef15fce74e1ed",
                "0003af86a66ec07c",
                "226dc907f725e393"
            ]
        ]
    },
    {
        "id": "c14239f28470e15b",
        "type": "change",
        "z": "ca46a7ecc95f279c",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 460,
        "wires": [
            [
                "d390be77ad9c95cc",
                "1c4adc181fd49820",
                "05601f6a851dcef3"
            ]
        ]
    },
    {
        "id": "8780747171568c66",
        "type": "change",
        "z": "ca46a7ecc95f279c",
        "name": "Pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pressure",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pressure",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 620,
        "wires": [
            [
                "7998fdeba4fc5a16",
                "1f26c611fdb88962",
                "e58b362fefed2a0f"
            ]
        ]
    },
    {
        "id": "465ef15fce74e1ed",
        "type": "ui_chart",
        "z": "ca46a7ecc95f279c",
        "name": "Temperature",
        "group": "1e7df6253ebfa89d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "℃",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d390be77ad9c95cc",
        "type": "ui_chart",
        "z": "ca46a7ecc95f279c",
        "name": "Humidity",
        "group": "096ad15f0ac2d734",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "%",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7998fdeba4fc5a16",
        "type": "ui_chart",
        "z": "ca46a7ecc95f279c",
        "name": "pressure",
        "group": "c7c4f749026f6007",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "mbar",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1100",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "0003af86a66ec07c",
        "type": "ui_gauge",
        "z": "ca46a7ecc95f279c",
        "name": "Temeperature",
        "group": "1e7df6253ebfa89d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "℃",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 1020,
        "y": 300,
        "wires": []
    },
    {
        "id": "1c4adc181fd49820",
        "type": "ui_gauge",
        "z": "ca46a7ecc95f279c",
        "name": "Humidity",
        "group": "096ad15f0ac2d734",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1000,
        "y": 500,
        "wires": []
    },
    {
        "id": "1f26c611fdb88962",
        "type": "ui_gauge",
        "z": "ca46a7ecc95f279c",
        "name": "pressure",
        "group": "c7c4f749026f6007",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "900",
        "seg2": "1000",
        "diff": false,
        "className": "",
        "x": 1000,
        "y": 660,
        "wires": []
    },
    {
        "id": "5f4fe632e56662d7",
        "type": "debug",
        "z": "ca46a7ecc95f279c",
        "name": "environment data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 80,
        "wires": []
    },
    {
        "id": "e8ec22674a223296",
        "type": "switch",
        "z": "ca46a7ecc95f279c",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "environment",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "joystick",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 100,
        "wires": [
            [
                "5f4fe632e56662d7"
            ],
            [
                "504d1b0d391a3df0"
            ]
        ]
    },
    {
        "id": "504d1b0d391a3df0",
        "type": "debug",
        "z": "ca46a7ecc95f279c",
        "name": "joystick data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "c33b08efb7af7677",
        "type": "debug",
        "z": "ca46a7ecc95f279c",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 360,
        "wires": []
    },
    {
        "id": "226dc907f725e393",
        "type": "function",
        "z": "ca46a7ecc95f279c",
        "name": "save temeperature",
        "func": "global.set('temperature', msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 360,
        "wires": [
            [
                "c33b08efb7af7677"
            ]
        ]
    },
    {
        "id": "838d26f82bc49dc8",
        "type": "debug",
        "z": "ca46a7ecc95f279c",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 560,
        "wires": []
    },
    {
        "id": "05601f6a851dcef3",
        "type": "function",
        "z": "ca46a7ecc95f279c",
        "name": "save humidity",
        "func": "global.set('humidity', msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 560,
        "wires": [
            [
                "838d26f82bc49dc8"
            ]
        ]
    },
    {
        "id": "532b34cc03887de1",
        "type": "debug",
        "z": "ca46a7ecc95f279c",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 720,
        "wires": []
    },
    {
        "id": "e58b362fefed2a0f",
        "type": "function",
        "z": "ca46a7ecc95f279c",
        "name": "save pressure",
        "func": "global.set('pressure', msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 720,
        "wires": [
            [
                "532b34cc03887de1"
            ]
        ]
    }
]