miza/app/flows/weather.json
[{"id":"9995b4c2.8d8f68","type":"tab","label":"Weather","disabled":true,"info":""},{"id":"3dd13241.f528fe","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"816a7350.3990d","type":"tab","label":"Mode Auto","disabled":false,"info":""},{"id":"f964a238.4eb78","type":"tab","label":"Mode Manual","disabled":false,"info":""},{"id":"788302d0.c3dd1c","type":"tab","label":"Setting","disabled":false,"info":""},{"id":"cae40fed.0cb0b","type":"tab","label":"Font Color","disabled":true,"info":""},{"id":"8c6778ff.6dc668","type":"tab","label":"global context","disabled":true,"info":""},{"id":"c55415b2.5496e8","type":"tab","label":"Sense hat","disabled":true,"info":""},{"id":"fee98c91.8a287","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1071f503.257ceb","type":"ui_tab","d":true,"name":"Sense Hat","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"fde4866f.851ff8","type":"ui_group","name":"Temperature","tab":"1071f503.257ceb","order":1,"disp":true,"width":"6","collapse":false},{"id":"9a4e895b.be7378","type":"ui_group","name":"Humidity","tab":"1071f503.257ceb","order":2,"disp":true,"width":"6","collapse":false},{"id":"9492d025.a8517","type":"ui_group","name":"Pressure","tab":"1071f503.257ceb","order":3,"disp":true,"width":"6","collapse":false},{"id":"5a6281e5.35ab8","type":"ui_tab","name":"Mode Auto","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"204ca59f.e2407a","type":"ui_group","name":"Temperature","tab":"5a6281e5.35ab8","order":2,"disp":true,"width":"24","collapse":true},{"id":"afdab893.6e6998","type":"ui_group","name":"Humidity","tab":"5a6281e5.35ab8","order":3,"disp":true,"width":"12","collapse":true},{"id":"a7d5976c.5eae98","type":"ui_group","name":"Smoke","tab":"5a6281e5.35ab8","order":4,"disp":true,"width":"12","collapse":true},{"id":"35970a31.a01c76","type":"mqtt-broker","name":"","broker":"103.149.253.133","port":"49155","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8924e22f.e375e","type":"ui_group","name":"Relay","tab":"d4e79c02.16854","disp":true,"width":"6","collapse":true},{"id":"d4e79c02.16854","type":"ui_tab","name":"Mode Manual","icon":"tune","order":2,"disabled":false,"hidden":false},{"id":"a6e358b.672ffa8","type":"ui_group","name":"Demo","tab":"4e528085.a1bfa","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e528085.a1bfa","type":"ui_tab","d":true,"name":"Demo","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"4315493a.b04488","type":"ui_group","name":"Camera","tab":"d4e79c02.16854","disp":true,"width":"6","collapse":true},{"id":"846e0c9a.23897","type":"ui_tab","name":"Setting","icon":"settings","order":3,"disabled":false,"hidden":false},{"id":"39974640.3596ca","type":"ui_group","name":"Temperature","tab":"846e0c9a.23897","disp":true,"width":"6","collapse":false},{"id":"30746458.4ce3ac","type":"ui_group","name":"Smk","tab":"846e0c9a.23897","disp":true,"width":"6","collapse":false},{"id":"6ff5405c.a8e6","type":"ui_tab","name":"TEST","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b7d5b64d.b3c828","type":"ui_group","name":"LCD","tab":"5a6281e5.35ab8","order":1,"disp":true,"width":"12","collapse":false},{"id":"e843a92f.674b78","type":"ui_spacer","name":"spacer","group":"b7d5b64d.b3c828","order":1,"width":"2","height":"1"},{"id":"32de86ed.53c46a","type":"ui_spacer","name":"spacer","group":"b7d5b64d.b3c828","order":3,"width":"2","height":"1"},{"id":"3929355b.11cf0a","type":"ui_spacer","name":"spacer","group":"204ca59f.e2407a","order":1,"width":"2","height":"10"},{"id":"b8aabc3f.1200f","type":"ui_spacer","name":"spacer","group":"204ca59f.e2407a","order":2,"width":"10","height":"10"},{"id":"3a8f1439.209bfc","type":"inject","z":"9995b4c2.8d8f68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":340,"wires":[["888db968.093858"]]},{"id":"888db968.093858","type":"http request","z":"9995b4c2.8d8f68","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.metaweather.com/api/location/search/?query=Ho Chi Minh","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":400,"wires":[["e759e5d1.1a92a8"]]},{"id":"e759e5d1.1a92a8","type":"function","z":"9995b4c2.8d8f68","name":"Get woeid of city","func":"// Get woeid of city\nvar a = JSON.parse(msg.payload);\nmsg.payload = a[0].woeid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":460,"wires":[["5e19d00a.47317"]]},{"id":"5e19d00a.47317","type":"http request","z":"9995b4c2.8d8f68","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.metaweather.com/api/location/{{ payload }}","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":520,"wires":[["62ac9f2b.cc064"]]},{"id":"22640ab2.cff386","type":"inject","z":"9995b4c2.8d8f68","name":"Create Database","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"q\":\"CREATE DATABASE abc\"}","payloadType":"json","x":340,"y":60,"wires":[["d25b5acd.31e488"]]},{"id":"d25b5acd.31e488","type":"http request","z":"9995b4c2.8d8f68","name":"Create Database","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://this-influxdb:8086/query?q={{ payload.q }}","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":60,"wires":[["c5b508e6.2bd048"]]},{"id":"c5b508e6.2bd048","type":"debug","z":"9995b4c2.8d8f68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":60,"wires":[]},{"id":"3eb7b084.82e2e","type":"inject","z":"9995b4c2.8d8f68","name":"Drop Database","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"q\":\"DROP DATABASE abc\"}","payloadType":"json","x":340,"y":140,"wires":[["40004167.55c87"]]},{"id":"40004167.55c87","type":"http request","z":"9995b4c2.8d8f68","name":"Drop Database","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://this-influxdb:8086/query?q={{ payload.q }}","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":140,"wires":[["63f5c43b.201f5c"]]},{"id":"63f5c43b.201f5c","type":"debug","z":"9995b4c2.8d8f68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":140,"wires":[]},{"id":"62ac9f2b.cc064","type":"function","z":"9995b4c2.8d8f68","name":"Dump Data","func":"// Convert to JSON\nfunction escape_string(string) {\n    return string.replace(/\\s/ig,'\\\\ ').replace(/\\,/g,'\\\\,').replace(/\\=/g,'\\\\ =');\n}\n\n// function escape_string(string) {\n//     return string;\n// }\n\n// msg.payload = escape_string(msg.payload.location_type);\n\nvar data = [];\n\nvar sun_rise = new Date(Date.parse(msg.payload.sun_rise)).getTime();\nvar sun_set = new Date(Date.parse(msg.payload.sun_set)).getTime();\n\nvar tags = [\n    `location_type=${escape_string(msg.payload.location_type)}`,\n    `title=${escape_string(msg.payload.title)}`,\n    `latt=${msg.payload.latt_long.split(',')[0]}`,\n    `long=${msg.payload.latt_long.split(',')[1]}`,\n    `country=${escape_string(msg.payload.parent.title)}`,\n    `timezone=${escape_string(msg.payload.timezone)}`\n];\n\n\n// msg.timestamp = timestamp.getTime();\n\n\nmsg.payload.consolidated_weather.forEach(element => {\n  var timestamp = new Date(Date.parse(element.created)).getTime();\n  for (var elem in element) {\n        if (elem === 'weather_state_name') {\n            var measure = elem;\n            // var value = escape_string(element[elem]);\n            var value = '\\\"' + element[elem].toString() + '\\\"';\n            data.push(`${measure},${tags.join(',')} value=${value} ${timestamp}`);\n            continue;\n        }\n        if (elem === 'wind_direction_compass') {\n            measure = elem;\n            // var value = escape_string(element[elem]);\n            value = '\\\"' + element[elem].toString() + '\\\"';\n            data.push(`${measure},${tags.join(',')} value=${value} ${timestamp}`);\n            continue;\n        }\n        if ( elem === 'id' || elem === 'weather_state_abbr') {\n          continue;\n        }\n        if (elem === 'created') {\n          continue;\n        }\n        if (elem === 'applicable_date') {\n            continue;\n        }\n        measure = elem;\n        value = element[elem];\n        data.push(`${measure},${tags.join(',')} value=${value} ${timestamp}`);\n  }\n});\n\nmsg.payload = data.join('\\n');\n// msg.payload = data;\nmsg.db = 'abc';\nmsg.precision = 'ms';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":520,"wires":[["892a75f4.d6d118"]]},{"id":"39dc1e61.226f62","type":"debug","z":"9995b4c2.8d8f68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":220,"wires":[]},{"id":"892a75f4.d6d118","type":"http request","z":"9995b4c2.8d8f68","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://this-influxdb:8086/write?db={{db}}&precision={{precision}}","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":520,"wires":[["b88431ea.7b28c"]]},{"id":"b88431ea.7b28c","type":"debug","z":"9995b4c2.8d8f68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":520,"wires":[]},{"id":"24ccbff.c78f34","type":"inject","z":"9995b4c2.8d8f68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"pu_load_short,host=server02,region=us-west value=0.55 1422568543702900257","payloadType":"str","x":320,"y":220,"wires":[["94c282c2.d8542"]]},{"id":"94c282c2.d8542","type":"http request","z":"9995b4c2.8d8f68","name":"Add Database","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://this-influxdb:8086/write?db=abc&precision=ns","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":220,"wires":[["39dc1e61.226f62"]]},{"id":"308ec68a.21c22a","type":"debug","z":"9995b4c2.8d8f68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":640,"wires":[]},{"id":"27df3d09.1cf012","type":"function","z":"9995b4c2.8d8f68","name":"Sunset-Sunrise","func":"function escape_string(string) {\n    return string.replace(/\\s/ig,'\\\\ ').replace(/\\,/g,'\\\\,').replace(/\\=/g,'\\\\ =');\n}\n\nvar sun_rise = new Date(Date.parse(msg.payload.sun_rise)).getTime();\nvar sun_set = new Date(Date.parse(msg.payload.sun_set)).getTime();\nvar timestamp = new Date(Date.parse(msg.payload.time)).getTime();\nvar data = [];\n\nvar tags = [\n    `location_type=${escape_string(msg.payload.location_type)}`,\n    `title=${escape_string(msg.payload.title)}`,\n    `latt=${msg.payload.latt_long.split(',')[0]}`,\n    `long=${msg.payload.latt_long.split(',')[1]}`,\n    `country=${escape_string(msg.payload.parent.title)}`,\n    `timezone=${escape_string(msg.payload.timezone)}`\n];\n\nvar measure = 'sun_rise';\nvalue = sun_rise;\ndata.push(`${measure},${tags.join(',')} value=${value} ${timestamp}`);\nmeasure = 'sun_set';\nvalue = sun_set;\ndata.push(`${measure},${tags.join(',')} value=${value} ${timestamp}`);\n\nmsg.payload = data.join('\\n');\nmsg.db = 'abc';\nmsg.precision = 'ms';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":700,"wires":[["905a12ec.25572"]]},{"id":"905a12ec.25572","type":"http request","z":"9995b4c2.8d8f68","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://this-influxdb:8086/write?db={{db}}&precision={{precision}}","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":640,"wires":[["308ec68a.21c22a"]]},{"id":"9553bdae.5faf9","type":"inject","z":"9995b4c2.8d8f68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":600,"wires":[["d716955.7fb1568"]]},{"id":"d716955.7fb1568","type":"http request","z":"9995b4c2.8d8f68","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.metaweather.com/api/location/search/?query=Ho Chi Minh","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":660,"wires":[["703edfd0.c84f9"]]},{"id":"703edfd0.c84f9","type":"function","z":"9995b4c2.8d8f68","name":"Get woeid of city","func":"// Get woeid of city\nvar a = JSON.parse(msg.payload);\nmsg.payload = a[0].woeid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":720,"wires":[["5cb54a44.98cfa4"]]},{"id":"5cb54a44.98cfa4","type":"http request","z":"9995b4c2.8d8f68","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.metaweather.com/api/location/{{ payload }}","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":780,"wires":[["27df3d09.1cf012"]]},{"id":"d4936752.05c458","type":"inject","z":"3dd13241.f528fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":180,"wires":[["b8273aa3.120f08"]]},{"id":"b8273aa3.120f08","type":"debug","z":"3dd13241.f528fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":180,"wires":[]},{"id":"f1b68794.a4c1b8","type":"debug","z":"c55415b2.5496e8","name":"Environment data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":180,"wires":[]},{"id":"b8211366.6bd2a","type":"inject","z":"c55415b2.5496e8","name":"","props":[{"p":"payload","v":"0,0,red,0,7,#00ff00,7,7,yellow,7,0,0,0,255","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0,0,red,0,7,#00ff00,7,7,yellow,7,0,0,0,255","payloadType":"str","x":350,"y":80,"wires":[["6f1c8c76.43a934"]]},{"id":"c1d5b53c.5dfc78","type":"comment","z":"c55415b2.5496e8","name":"Temperature, humidity, pressure","info":"","x":270,"y":420,"wires":[]},{"id":"356fdc59.3bc9d4","type":"comment","z":"c55415b2.5496e8","name":"LED matrix","info":"","x":220,"y":40,"wires":[]},{"id":"c7d19276.c1eee","type":"ui_chart","z":"c55415b2.5496e8","name":"Temperature","group":"fde4866f.851ff8","order":1,"width":0,"height":0,"label":"ºC","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":280,"wires":[[]]},{"id":"81ca4f01.0f00b","type":"ui_gauge","z":"c55415b2.5496e8","name":"Temperature","group":"fde4866f.851ff8","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":890,"y":320,"wires":[]},{"id":"877ab1e.24d315","type":"change","z":"c55415b2.5496e8","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temperature1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":340,"wires":[["c7d19276.c1eee","81ca4f01.0f00b","e878d9a2.01ae78"]]},{"id":"45ef1b19.bdeea4","type":"switch","z":"c55415b2.5496e8","name":"event types","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"environment","vt":"str"},{"t":"eq","v":"joystick","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":200,"wires":[["f1b68794.a4c1b8"],["334c157b.6e97ba"]]},{"id":"334c157b.6e97ba","type":"debug","z":"c55415b2.5496e8","name":"Joystick data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":220,"wires":[]},{"id":"8db9aa6f.3f20b8","type":"ui_chart","z":"c55415b2.5496e8","name":"Humidity","group":"9a4e895b.be7378","order":1,"width":0,"height":0,"label":"%","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":440,"wires":[[]]},{"id":"8a4a79fe.b01918","type":"ui_gauge","z":"c55415b2.5496e8","name":"Humidity","group":"9a4e895b.be7378","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":880,"y":480,"wires":[]},{"id":"b3da5168.9f27f","type":"change","z":"c55415b2.5496e8","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["8db9aa6f.3f20b8","8a4a79fe.b01918","34d821ba.2e9ece","12e9c914.69f5b7"]]},{"id":"32541218.55f8ae","type":"ui_chart","z":"c55415b2.5496e8","name":"","group":"9492d025.a8517","order":1,"width":0,"height":0,"label":"mbar","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1100","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":620,"wires":[[]]},{"id":"504a0ba4.37c614","type":"ui_gauge","z":"c55415b2.5496e8","name":"Pressure","group":"9492d025.a8517","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"mbar","format":"{{value}}","min":0,"max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":880,"y":660,"wires":[]},{"id":"5611ec68.c97794","type":"change","z":"c55415b2.5496e8","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["32541218.55f8ae","504a0ba4.37c614","6d7dc5e1.b1125c","6ffcd9c5.2e63c8"]]},{"id":"d4a410ec.22938","type":"debug","z":"c55415b2.5496e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":820,"wires":[]},{"id":"2c9235f1.03d25a","type":"debug","z":"c55415b2.5496e8","name":"temperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":380,"wires":[]},{"id":"34d821ba.2e9ece","type":"debug","z":"c55415b2.5496e8","name":"humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":520,"wires":[]},{"id":"6d7dc5e1.b1125c","type":"debug","z":"c55415b2.5496e8","name":"pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":700,"wires":[]},{"id":"e878d9a2.01ae78","type":"function","z":"c55415b2.5496e8","name":"save temperature","func":"global.set('temperature' , msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":380,"wires":[["2c9235f1.03d25a"]]},{"id":"b16188cf.f7eda8","type":"debug","z":"c55415b2.5496e8","name":"humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":560,"wires":[]},{"id":"12e9c914.69f5b7","type":"function","z":"c55415b2.5496e8","name":"save humidity","func":"global.set('humidity' , msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":560,"wires":[["b16188cf.f7eda8"]]},{"id":"9f5a667a.059258","type":"debug","z":"c55415b2.5496e8","name":"pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":740,"wires":[]},{"id":"6ffcd9c5.2e63c8","type":"function","z":"c55415b2.5496e8","name":"save pressure","func":"global.set('pressure' , msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":740,"wires":[["9f5a667a.059258"]]},{"id":"29536ff7.fc92c","type":"function","z":"8c6778ff.6dc668","name":"get temperature","func":"msg.payload = global.get('temperature')\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":200,"wires":[["54e5a1f7.6478b"]]},{"id":"a730700f.bd1cb","type":"inject","z":"8c6778ff.6dc668","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":200,"wires":[["29536ff7.fc92c"]]},{"id":"54e5a1f7.6478b","type":"debug","z":"8c6778ff.6dc668","name":"temperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":200,"wires":[]},{"id":"f4eda37f.b5e76","type":"debug","z":"8c6778ff.6dc668","name":"humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":280,"wires":[]},{"id":"18620f71.bc5971","type":"debug","z":"8c6778ff.6dc668","name":"pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":360,"wires":[]},{"id":"ba61a618.6377f8","type":"function","z":"8c6778ff.6dc668","name":"get humidity","func":"msg.payload = global.get('humidity')\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":280,"wires":[["f4eda37f.b5e76"]]},{"id":"ac9c4be1.db6c18","type":"inject","z":"8c6778ff.6dc668","name":"","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":280,"wires":[["ba61a618.6377f8"]]},{"id":"5ebec27.262923c","type":"function","z":"8c6778ff.6dc668","name":"get pressure","func":"msg.payload = global.get('pressure')\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["18620f71.bc5971"]]},{"id":"2dcc5f0a.498c8","type":"inject","z":"8c6778ff.6dc668","name":"","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":360,"wires":[["5ebec27.262923c"]]},{"id":"71a95fd6.4475d","type":"throttle","z":"c55415b2.5496e8","name":"","throttleType":"time","timeLimit":"1","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":410,"y":780,"wires":[["e183d18b.61c5c","d4a410ec.22938"]]},{"id":"fe2d9fce.9915c","type":"rpi-sensehatsim in","z":"c55415b2.5496e8","d":true,"name":"","motion":false,"env":true,"stick":true,"x":300,"y":460,"wires":[["877ab1e.24d315","45ef1b19.bdeea4","b3da5168.9f27f","5611ec68.c97794","71a95fd6.4475d"]]},{"id":"6f1c8c76.43a934","type":"rpi-sensehatsim out","z":"c55415b2.5496e8","name":"","x":580,"y":80,"wires":[]},{"id":"309c3243.233d3e","type":"pusher in","z":"816a7350.3990d","d":true,"name":"","channel":"data_env","cluster":"eu","eventname":"env","x":390,"y":120,"wires":[[]]},{"id":"e183d18b.61c5c","type":"pusher out","z":"c55415b2.5496e8","d":true,"name":"","channel":"data_env","cluster":"eu","eventname":"env","x":570,"y":780,"wires":[]},{"id":"ba13c1cf.e8176","type":"rpi-sensehatsim in","z":"816a7350.3990d","d":true,"name":"","motion":false,"env":true,"stick":true,"x":400,"y":200,"wires":[[]]},{"id":"6e7f1d4c.ad6854","type":"inject","z":"816a7350.3990d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"environment","payload":"{\"h_1\":{\"temp\":25.3,\"hum\":57,\"smk\":500},\"h_2\":{\"temp\":29,\"hum\":57,\"smk\":100},\"h_3\":{\"temp\":27,\"hum\":57,\"smk\":100},\"h_4\":{\"temp\":25,\"hum\":57,\"smk\":100},\"h_5\":{\"temp\":25,\"hum\":57,\"smk\":100},\"h_6\":{\"temp\":25.3,\"hum\":57,\"smk\":100}}","payloadType":"json","x":190,"y":640,"wires":[["2498ddd1.803842","c50079bf.633a38","b2fcf1db.5c3b8","ab94c628.d8b138","2fd8c72c.af6a28","8d825214.0ea02","b3c13153.57335","f222d20.cd8083","29e4632a.e45dbc","1d125c74.882474","f28917c5.8d62d8","4dfa1d7.845b7e4","aac335b6.a3a3d8","247e5bf7.e8bec4","efaccac2.341ad8","d38de2fa.7e9ef","38d1323.0e165ce","f9d74a53.b5cfc8"]]},{"id":"2498ddd1.803842","type":"change","z":"816a7350.3990d","name":"Temperature Warehouse 1","rules":[{"t":"set","p":"temp1","pt":"global","to":"payload.h_1.temp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.h_1.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temp 1.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":360,"wires":[["4681556.ae93fac","83c54dae.ec12"]]},{"id":"c50079bf.633a38","type":"change","z":"816a7350.3990d","name":"Temperature Warehouse 2","rules":[{"t":"set","p":"temp2","pt":"global","to":"payload.h_2.temp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.h_2.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temp 1.2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":400,"wires":[["a528bc11.0a728","83c54dae.ec12"]]},{"id":"b2fcf1db.5c3b8","type":"change","z":"816a7350.3990d","name":"Temperature Warehouse 3","rules":[{"t":"set","p":"temp3","pt":"global","to":"payload.h_3.temp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.h_3.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temp 1.3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":440,"wires":[["56105df7.cee714","83c54dae.ec12"]]},{"id":"ab94c628.d8b138","type":"change","z":"816a7350.3990d","name":"Temperature Warehouse 4","rules":[{"t":"set","p":"temp4","pt":"global","to":"payload.h_4.temp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.h_4.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temp 2,1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":480,"wires":[["c48da25c.3db9a","83c54dae.ec12"]]},{"id":"2fd8c72c.af6a28","type":"change","z":"816a7350.3990d","name":"Temperature Warehouse 5","rules":[{"t":"set","p":"temp5","pt":"global","to":"payload.h_5.temp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.h_5.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temp 2.2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":520,"wires":[["e0c3165a.3d9e18","83c54dae.ec12"]]},{"id":"8d825214.0ea02","type":"change","z":"816a7350.3990d","name":"Temperature Warehouse 6","rules":[{"t":"set","p":"temp6","pt":"global","to":"payload.h_6.temp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.h_6.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temp 2,3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":560,"wires":[["5d21e400.d50b5c","83c54dae.ec12"]]},{"id":"b3c13153.57335","type":"change","z":"816a7350.3990d","name":"Humidity Warehouse 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h_1.hum","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"hum 1.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":620,"wires":[["f04cd5d6.870528","4cb4c8f4.f995d8"]]},{"id":"f222d20.cd8083","type":"change","z":"816a7350.3990d","name":"Humidity Warehouse 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h_2.hum","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"hum 1.2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":660,"wires":[["ca337201.26e2c","4cb4c8f4.f995d8"]]},{"id":"29e4632a.e45dbc","type":"change","z":"816a7350.3990d","name":"Humidity Warehouse 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h_3.hum","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"hum 1.3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":700,"wires":[["cba32119.c92cf","4cb4c8f4.f995d8"]]},{"id":"1d125c74.882474","type":"change","z":"816a7350.3990d","name":"Humidity Warehouse 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h_4.hum","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"hum 2.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":740,"wires":[["254e46c8.4969da","4cb4c8f4.f995d8"]]},{"id":"f28917c5.8d62d8","type":"change","z":"816a7350.3990d","name":"Humidity Warehouse 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h_5.hum","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"hum 2.2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":780,"wires":[["f93a042f.b4ef08","4cb4c8f4.f995d8"]]},{"id":"4dfa1d7.845b7e4","type":"change","z":"816a7350.3990d","name":"Humidity Warehouse 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h_6.hum","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"hum 2,3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":820,"wires":[["34e55fd1.ee011","4cb4c8f4.f995d8"]]},{"id":"aac335b6.a3a3d8","type":"change","z":"816a7350.3990d","name":"Smoke Warehouse 1","rules":[{"t":"set","p":"smk1","pt":"global","to":"payload.h_1.smk","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.h_1.smk","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"smoke 1.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":900,"wires":[["b21b6542.b3d5f8","ce8a404e.22009"]]},{"id":"247e5bf7.e8bec4","type":"change","z":"816a7350.3990d","name":"Smoke Warehouse 2","rules":[{"t":"set","p":"smk2","pt":"global","to":"payload.h_2.smk","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.h_2.smk","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"smoke 1.2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":940,"wires":[["b21b6542.b3d5f8","7071165a.eb7098"]]},{"id":"efaccac2.341ad8","type":"change","z":"816a7350.3990d","name":"Smoke Warehouse 3","rules":[{"t":"set","p":"smk3","pt":"global","to":"payload.h_3.smk","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.h_3.smk","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"smoke 1.3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":980,"wires":[["b21b6542.b3d5f8","bc3e727.d4f749"]]},{"id":"d38de2fa.7e9ef","type":"change","z":"816a7350.3990d","name":"Smoke Warehouse 4","rules":[{"t":"set","p":"smk4","pt":"global","to":"payload.h_4.smk","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.h_4.smk","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"smoke 2.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1020,"wires":[["b21b6542.b3d5f8","f1319121.9c354"]]},{"id":"38d1323.0e165ce","type":"change","z":"816a7350.3990d","name":"Smoke Warehouse 5","rules":[{"t":"set","p":"smk5","pt":"global","to":"payload.h_5.smk","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.h_5.smk","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"smoke 2.2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1060,"wires":[["b21b6542.b3d5f8","a56ac424.c09bd8"]]},{"id":"f9d74a53.b5cfc8","type":"change","z":"816a7350.3990d","name":"Smoke Warehouse 6","rules":[{"t":"set","p":"smk6","pt":"global","to":"payload.h_6.smk","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.h_6.smk","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"smoke 2.3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1100,"wires":[["ad44a572.859348"]]},{"id":"408ae9bf.356d58","type":"ui_text","z":"816a7350.3990d","group":"204ca59f.e2407a","order":3,"width":"4","height":"1","name":"","label":"Temp 1.1","format":"<font color={{msg.color}}>{{msg.payload| uppercase}} &degC {{msg.status}}</font>","layout":"row-spread","x":1180,"y":240,"wires":[]},{"id":"ed8e6e90.7fe2b","type":"mqtt in","z":"816a7350.3990d","name":"","topic":"environment","qos":"0","datatype":"json","broker":"35970a31.a01c76","x":170,"y":740,"wires":[["2498ddd1.803842","c50079bf.633a38","b2fcf1db.5c3b8","2fd8c72c.af6a28","8d825214.0ea02","b3c13153.57335","f222d20.cd8083","29e4632a.e45dbc","1d125c74.882474","f28917c5.8d62d8","4dfa1d7.845b7e4","aac335b6.a3a3d8","247e5bf7.e8bec4","efaccac2.341ad8","d38de2fa.7e9ef","38d1323.0e165ce","f9d74a53.b5cfc8","87500fa7.f03b1","ab94c628.d8b138"]]},{"id":"84993741.45c658","type":"inject","z":"cae40fed.0cb0b","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"disarmed","payloadType":"str","x":383.00000762939453,"y":107.00000190734863,"wires":[["fdb2fcd1.0e76"]]},{"id":"fdb2fcd1.0e76","type":"function","z":"cae40fed.0cb0b","name":"Color Mapping","func":"switch (msg.payload) {\n\ncase \"disarmed\" : \n    msg.color = \"lime\";\n    break;\n    \ncase \"pending\" : \n    msg.color = \"yellow\";\n    break;\n    \ndefault : \n    msg.color = \"red\";\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":586.1000556945801,"y":172.60000228881836,"wires":[[]]},{"id":"bb25a8a.3bfb258","type":"inject","z":"cae40fed.0cb0b","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"pending","payloadType":"str","x":390.00000762939453,"y":154.00000190734863,"wires":[["fdb2fcd1.0e76"]]},{"id":"d8b7282e.5330f8","type":"inject","z":"cae40fed.0cb0b","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"armed_home","payloadType":"str","x":373.00000762939453,"y":201.00000286102295,"wires":[["fdb2fcd1.0e76"]]},{"id":"71bdd81d.6f9f18","type":"inject","z":"cae40fed.0cb0b","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"armed_away","payloadType":"str","x":371.00000762939453,"y":247.00000381469727,"wires":[["fdb2fcd1.0e76"]]},{"id":"46ede5bd.79f9bc","type":"ui_template","z":"816a7350.3990d","group":"204ca59f.e2407a","name":"","order":9,"width":0,"height":0,"format":"<div>\n    <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            --background: #212529;\n            --on-background: white;\n            --surface: #2d3136;\n            --on-surface: white;\n            --primary: var(--nr-dashboard-widgetColor);\n            --on-primary: white;\n            --secondary: var(--nr-dashboard-groupTextColor);\n            --accent: red;\n            --radius-s: 8px;\n            --font-weight-m: 300;\n            --font-weight-m: 500;\n            --font-weight-l: 700;\n            --space-s: 8px;\n            --space-m: 16px;\n            --space-l: 32px;\n            --backgroud-text: var(--nr-dashboard-widgetColor);\n        }\n\n        body.nr-dashboard-theme {\n            background-color: var(--background);\n            font-family: 'Montserrat', sans-serif;\n        }\n        .nr-dashboard-theme ui-card-panel {\n            background-color: var(--background);\n            border: 0;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button {\n            background-color: var(--primary);\n            border-radius: var(--radius-s);\n            padding: 8px !important;\n            line-height: inherit;\n            font-weight: var(--font-weight-l);\n            color: var(--on-primary);\n        }\n        .nr-dashboard-theme [ui-card-size=\"2x2\"].nr-dashboard-button .md-button {\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            white-space: pre-line;\n        }\n        \n        .nr-dashboard-theme .nr-dashboard-button .md-button ui-icon {\n                margin-bottom: 8px;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n            background-color: var(--secondary);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            background-color: var(--surface);\n        }\n        md-card.md-default-theme, md-card {\n            border-radius: var(--radius-s);\n        }\n        .nr-dashboard-theme .nr-dashboard-gauge-titlel {\n            font-weight: var(--font-weight-l) !important;      \n        }\n        .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n            font-weight: var(--font-weight-l);  \n            text-transform: capitalize;\n            color: var(--on-background);\n        }\n        .nr-dashboard-cardpanel > p {\n            margin-left: 0;\n            padding-left: 16px;\n        }\n        body.nr-dashboard-theme md-toolbar {\n            background-color: var(--surface);\n        }\n        .md-default-theme .md-datepicker-calendar, .md-datepicker-calendar,\n        .md-default-theme .md-calendar, .md-calendar{\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .md-default-theme .md-datepicker-calendar-pane, .md-datepicker-calendar-pane{\n            border: 0;\n        }\n        .md-default-theme .md-calendar-month-label md-icon, .md-calendar-month-label md-icon, .md-default-theme .md-datepicker-input, .md-datepicker-input {\n            color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-numeric .value {\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker md-input-container .md-input {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker .md-datepicker-triangle-button .md-datepicker-expand-triangle {\n            border-top-color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-sidenav {\n            background-color: var(--surface);\n        }\n        md-list-item._md-button-wrap > div.md-button:first-child, md-list-item .md-list-item-inner {\n            background-color: var(--surface);\n        }\n        /*md-card.nr-dashboard-text.ng-scope{*/\n        /*    background-color: var(--backgroud-text);*/\n            /*background-color: red;*/\n        /*}*/\n        md-card.nr-dashboard-text.ng-scope.green{\n            background-color: green;\n        }\n        md-card.nr-dashboard-text.ng-scope.orange{\n            background-color: orange;\n        }\n        md-card.nr-dashboard-text.ng-scope.orange{\n            background-color: red;\n        }\n    </style>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":160,"y":580,"wires":[[]]},{"id":"700120c9.0b092","type":"ui_text","z":"816a7350.3990d","group":"204ca59f.e2407a","order":4,"width":"4","height":"1","name":"","label":"Temp 1.2","format":"<font color={{msg.color}}>{{msg.payload| uppercase}} &degC {{msg.status}}</font>","layout":"row-spread","x":1620,"y":240,"wires":[]},{"id":"2be930d4.4d779","type":"ui_text","z":"816a7350.3990d","group":"204ca59f.e2407a","order":5,"width":"4","height":"1","name":"","label":"Temp 1.3","format":"<font color={{msg.color}}>{{msg.payload| uppercase}} &degC {{msg.status}}</font>","layout":"row-spread","x":1160,"y":380,"wires":[]},{"id":"ba5117c3.b80328","type":"ui_text","z":"816a7350.3990d","group":"204ca59f.e2407a","order":6,"width":"4","height":"1","name":"","label":"Temp 2.1","format":"<font color={{msg.color}}>{{msg.payload| uppercase}} &degC {{msg.status}}</font>","layout":"row-spread","x":1660,"y":380,"wires":[]},{"id":"a124c4e4.a105c8","type":"ui_text","z":"816a7350.3990d","group":"204ca59f.e2407a","order":7,"width":"4","height":"1","name":"","label":"Temp 2.2","format":"<font color={{msg.color}}>{{msg.payload| uppercase}} &degC {{msg.status}}</font>","layout":"row-spread","x":1160,"y":520,"wires":[]},{"id":"3cc6cb1a.dde284","type":"ui_text","z":"816a7350.3990d","group":"204ca59f.e2407a","order":8,"width":"4","height":"1","name":"","label":"Temp 2.3","format":"<font color={{msg.color}}>{{msg.payload| uppercase}} &degC {{msg.status}}</font>","layout":"row-spread","x":1660,"y":520,"wires":[]},{"id":"346f35253f5834d6","type":"ui_text","z":"cae40fed.0cb0b","group":"a6e358b.672ffa8","order":4,"width":0,"height":0,"name":"","label":"Reactor temperature","format":"{{msg.payload}} {{msg.status}}","layout":"row-spread","x":1020,"y":400,"wires":[]},{"id":"f9f9ee8b0cdaaae7","type":"ui_slider","z":"cae40fed.0cb0b","name":"","label":"slider","tooltip":"","group":"a6e358b.672ffa8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","min":"200","max":"1000","step":"10","x":530,"y":400,"wires":[["316a5f7bc9fe81a5"]]},{"id":"316a5f7bc9fe81a5","type":"switch","z":"cae40fed.0cb0b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"400","vt":"str"},{"t":"btwn","v":"400","vt":"num","v2":"600","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":400,"wires":[["3918f204d3848a09"],["6e8724876c535941"],["a14e405b29f537e8"]]},{"id":"3918f204d3848a09","type":"change","z":"cae40fed.0cb0b","name":"Green","rules":[{"t":"set","p":"className","pt":"msg","to":"ng-scope.green","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":360,"wires":[["346f35253f5834d6"]]},{"id":"6e8724876c535941","type":"change","z":"cae40fed.0cb0b","name":"Orange","rules":[{"t":"set","p":"className.ng-scope","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":400,"wires":[["346f35253f5834d6"]]},{"id":"a14e405b29f537e8","type":"change","z":"cae40fed.0cb0b","name":"Red","rules":[{"t":"set","p":"className.ng-scope","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Meltdown!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":440,"wires":[["346f35253f5834d6"]]},{"id":"a818b7f630689b87","type":"inject","z":"cae40fed.0cb0b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"num","x":410,"y":400,"wires":[["f9f9ee8b0cdaaae7"]]},{"id":"87500fa7.f03b1","type":"debug","z":"816a7350.3990d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":500,"wires":[]},{"id":"4681556.ae93fac","type":"switch","z":"816a7350.3990d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"low_temp","vt":"global"},{"t":"btwn","v":"low_temp","vt":"global","v2":"high_temp","v2t":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":850,"y":240,"wires":[["73687809.c0b108"],["fca29b17.48f908"],["57b207b1.9994d8"]]},{"id":"73687809.c0b108","type":"change","z":"816a7350.3990d","name":"Green","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"status_temp1","pt":"global","to":"Normal","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":200,"wires":[["408ae9bf.356d58"]]},{"id":"fca29b17.48f908","type":"change","z":"816a7350.3990d","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"status_temp1","pt":"global","to":"Warning","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":240,"wires":[["408ae9bf.356d58"]]},{"id":"57b207b1.9994d8","type":"change","z":"816a7350.3990d","name":"Red","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"status_temp1","pt":"global","to":"Meltdown!","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Meltdown!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":280,"wires":[["408ae9bf.356d58"]]},{"id":"a528bc11.0a728","type":"switch","z":"816a7350.3990d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"low_temp","vt":"global"},{"t":"btwn","v":"low_temp","vt":"global","v2":"high_temp","v2t":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1330,"y":240,"wires":[["b8572887.43cb28"],["234da27d.41234e"],["4c3405af.11519c"]]},{"id":"b8572887.43cb28","type":"change","z":"816a7350.3990d","name":"Green","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"status_temp2","pt":"global","to":"Normal","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":200,"wires":[["700120c9.0b092"]]},{"id":"234da27d.41234e","type":"change","z":"816a7350.3990d","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"status_temp2","pt":"global","to":"Warning","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":240,"wires":[["700120c9.0b092"]]},{"id":"4c3405af.11519c","type":"change","z":"816a7350.3990d","name":"Red","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"status_temp2","pt":"global","to":"Meltdown!","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Meltdown!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":280,"wires":[["700120c9.0b092"]]},{"id":"56105df7.cee714","type":"switch","z":"816a7350.3990d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"low_temp","vt":"global"},{"t":"btwn","v":"low_temp","vt":"global","v2":"high_temp","v2t":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":850,"y":380,"wires":[["10fd6d4f.a53f53"],["fc8ea974.cae6c8"],["9aac4cee.25515"]]},{"id":"10fd6d4f.a53f53","type":"change","z":"816a7350.3990d","name":"Green","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"status_temp3","pt":"global","to":"Normal","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":340,"wires":[["2be930d4.4d779"]]},{"id":"fc8ea974.cae6c8","type":"change","z":"816a7350.3990d","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"status_temp3","pt":"global","to":"Warning","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":380,"wires":[["2be930d4.4d779"]]},{"id":"9aac4cee.25515","type":"change","z":"816a7350.3990d","name":"Red","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"status_temp3","pt":"global","to":"Meltdown!","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Meltdown!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":420,"wires":[["2be930d4.4d779"]]},{"id":"c48da25c.3db9a","type":"switch","z":"816a7350.3990d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"low_temp","vt":"global"},{"t":"btwn","v":"low_temp","vt":"global","v2":"high_temp","v2t":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1330,"y":380,"wires":[["aab461.bafdeba"],["8a92de9d.e0c28"],["9fd87a2c.20d358"]]},{"id":"aab461.bafdeba","type":"change","z":"816a7350.3990d","name":"Green","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"status_temp4","pt":"global","to":"Normal","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":340,"wires":[["ba5117c3.b80328"]]},{"id":"8a92de9d.e0c28","type":"change","z":"816a7350.3990d","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"status_temp4","pt":"global","to":"Warning","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":380,"wires":[["ba5117c3.b80328"]]},{"id":"9fd87a2c.20d358","type":"change","z":"816a7350.3990d","name":"Red","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"status_temp4","pt":"global","to":"Meltdown!","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Meltdown!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":420,"wires":[["ba5117c3.b80328"]]},{"id":"e0c3165a.3d9e18","type":"switch","z":"816a7350.3990d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"low_temp","vt":"global"},{"t":"btwn","v":"low_temp","vt":"global","v2":"high_temp","v2t":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":850,"y":540,"wires":[["be783d80.e1288"],["bd0849c7.a99288"],["e03095c6.a18f88"]]},{"id":"be783d80.e1288","type":"change","z":"816a7350.3990d","name":"Green","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"status_temp5","pt":"global","to":"Normal","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":500,"wires":[["a124c4e4.a105c8"]]},{"id":"bd0849c7.a99288","type":"change","z":"816a7350.3990d","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"status_temp5","pt":"global","to":"Warning","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":540,"wires":[["a124c4e4.a105c8"]]},{"id":"e03095c6.a18f88","type":"change","z":"816a7350.3990d","name":"Red","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"status_temp5","pt":"global","to":"Meltdown!","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Meltdown!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":580,"wires":[["a124c4e4.a105c8"]]},{"id":"5d21e400.d50b5c","type":"switch","z":"816a7350.3990d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"low_temp","vt":"global"},{"t":"btwn","v":"low_temp","vt":"global","v2":"high_temp","v2t":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1330,"y":540,"wires":[["25f33332.9e459c"],["ba5b1385.59969"],["90353a1f.aa7568"]]},{"id":"25f33332.9e459c","type":"change","z":"816a7350.3990d","name":"Green","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"status_temp6","pt":"global","to":"Normal","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":500,"wires":[["3cc6cb1a.dde284"]]},{"id":"ba5b1385.59969","type":"change","z":"816a7350.3990d","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"status_temp6","pt":"global","to":"Warning","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":540,"wires":[["3cc6cb1a.dde284"]]},{"id":"90353a1f.aa7568","type":"change","z":"816a7350.3990d","name":"Red","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"status_temp6","pt":"global","to":"Meltdown!","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Meltdown!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":580,"wires":[["3cc6cb1a.dde284"]]},{"id":"f04cd5d6.870528","type":"ui_text","z":"816a7350.3990d","group":"afdab893.6e6998","order":3,"width":"4","height":"1","name":"","label":"Huminity 1.1","format":"{{msg.payload| uppercase}} % ","layout":"row-spread","x":850,"y":640,"wires":[]},{"id":"ca337201.26e2c","type":"ui_text","z":"816a7350.3990d","group":"afdab893.6e6998","order":4,"width":"4","height":"1","name":"","label":"Huminity 1.2","format":"{{msg.payload| uppercase}} % ","layout":"row-spread","x":850,"y":680,"wires":[]},{"id":"cba32119.c92cf","type":"ui_text","z":"816a7350.3990d","group":"afdab893.6e6998","order":5,"width":"4","height":"1","name":"","label":"Huminity 1.3","format":"{{msg.payload| uppercase}} % ","layout":"row-spread","x":850,"y":720,"wires":[]},{"id":"254e46c8.4969da","type":"ui_text","z":"816a7350.3990d","group":"afdab893.6e6998","order":6,"width":"4","height":"1","name":"","label":"Huminity 2.1","format":"{{msg.payload| uppercase}} % ","layout":"row-spread","x":1030,"y":640,"wires":[]},{"id":"f93a042f.b4ef08","type":"ui_text","z":"816a7350.3990d","group":"afdab893.6e6998","order":7,"width":"4","height":"1","name":"","label":"Huminity 2.2","format":"{{msg.payload| uppercase}} % ","layout":"row-spread","x":1030,"y":680,"wires":[]},{"id":"34e55fd1.ee011","type":"ui_text","z":"816a7350.3990d","group":"afdab893.6e6998","order":8,"width":"4","height":"1","name":"","label":"Huminity 2.3","format":"{{msg.payload| uppercase}} % ","layout":"row-spread","x":1030,"y":720,"wires":[]},{"id":"4cb4c8f4.f995d8","type":"ui_chart","z":"816a7350.3990d","name":"Humidity","group":"afdab893.6e6998","order":2,"width":0,"height":0,"label":"%","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"90","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":600,"wires":[[]]},{"id":"83c54dae.ec12","type":"ui_chart","z":"816a7350.3990d","name":"Temperature","group":"204ca59f.e2407a","order":2,"width":"12","height":"7","label":"ºC","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":220,"wires":[[]]},{"id":"992e4a7c.53a0a8","type":"ui_text","z":"816a7350.3990d","group":"a7d5976c.5eae98","order":2,"width":"4","height":"1","name":"","label":"{{msg.topic}}","format":"<font color={{msg.color}}>{{msg.payload| uppercase}} {{msg.status}}</font>","layout":"row-spread","x":1190,"y":900,"wires":[]},{"id":"b21b6542.b3d5f8","type":"ui_chart","z":"816a7350.3990d","name":"Smoke","group":"a7d5976c.5eae98","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1023","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":800,"wires":[[]]},{"id":"ce8a404e.22009","type":"switch","z":"816a7350.3990d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"low_smk","vt":"global"},{"t":"btwn","v":"low_smk","vt":"global","v2":"high_smk","v2t":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":850,"y":900,"wires":[["ca4ae4a7.910da8"],["b420559d.e82ea8"],["837347fa.b02068"]]},{"id":"ca4ae4a7.910da8","type":"change","z":"816a7350.3990d","name":"Green","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"status_smk1","pt":"global","to":"Normal","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":860,"wires":[["992e4a7c.53a0a8"]]},{"id":"b420559d.e82ea8","type":"change","z":"816a7350.3990d","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"status_smk1","pt":"global","to":"Warning","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":900,"wires":[["992e4a7c.53a0a8"]]},{"id":"837347fa.b02068","type":"change","z":"816a7350.3990d","name":"Red","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"status_smk1","pt":"global","to":"Meltdown!","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Meltdown!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":940,"wires":[["992e4a7c.53a0a8"]]},{"id":"34b54bd1.f5ccc4","type":"ui_text","z":"816a7350.3990d","group":"a7d5976c.5eae98","order":2,"width":"4","height":"1","name":"","label":"{{msg.topic}}","format":"<font color={{msg.color}}>{{msg.payload| uppercase}} {{msg.status}}</font>","layout":"row-spread","x":1190,"y":1020,"wires":[]},{"id":"7071165a.eb7098","type":"switch","z":"816a7350.3990d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"low_smk","vt":"global"},{"t":"btwn","v":"low_smk","vt":"global","v2":"high_smk","v2t":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":850,"y":1020,"wires":[["9b3e91c0.5a9e"],["188be7e8.6f9f18"],["43ed9181.6d5e7"]]},{"id":"9b3e91c0.5a9e","type":"change","z":"816a7350.3990d","name":"Green","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"status_smk2","pt":"global","to":"Normal","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":980,"wires":[["34b54bd1.f5ccc4"]]},{"id":"188be7e8.6f9f18","type":"change","z":"816a7350.3990d","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"status_smk2","pt":"global","to":"Warning","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1020,"wires":[["34b54bd1.f5ccc4"]]},{"id":"43ed9181.6d5e7","type":"change","z":"816a7350.3990d","name":"Red","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"status_smk2","pt":"global","to":"Meltdown!","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Meltdown!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1060,"wires":[["34b54bd1.f5ccc4"]]},{"id":"67e7ddb7.548a54","type":"ui_text","z":"816a7350.3990d","group":"a7d5976c.5eae98","order":2,"width":"4","height":"1","name":"","label":"{{msg.topic}}","format":"<font color={{msg.color}}>{{msg.payload| uppercase}} {{msg.status}}</font>","layout":"row-spread","x":1190,"y":1160,"wires":[]},{"id":"bc3e727.d4f749","type":"switch","z":"816a7350.3990d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"low_smk","vt":"global"},{"t":"btwn","v":"low_smk","vt":"global","v2":"high_smk","v2t":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":850,"y":1160,"wires":[["9f834cc.ae785b"],["87970d0b.d228e"],["3ba98d6c.523de2"]]},{"id":"9f834cc.ae785b","type":"change","z":"816a7350.3990d","name":"Green","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"status_smk3","pt":"global","to":"Normal","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1120,"wires":[["67e7ddb7.548a54"]]},{"id":"87970d0b.d228e","type":"change","z":"816a7350.3990d","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"status_smk3","pt":"global","to":"Warning","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1160,"wires":[["67e7ddb7.548a54"]]},{"id":"3ba98d6c.523de2","type":"change","z":"816a7350.3990d","name":"Red","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"status_smk3","pt":"global","to":"Meltdown!","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Meltdown!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1200,"wires":[["67e7ddb7.548a54"]]},{"id":"5a5e9fcd.6624d","type":"ui_text","z":"816a7350.3990d","group":"a7d5976c.5eae98","order":2,"width":"4","height":"1","name":"","label":"{{msg.topic}}","format":"<font color={{msg.color}}>{{msg.payload| uppercase}} {{msg.status}}</font>","layout":"row-spread","x":1710,"y":900,"wires":[]},{"id":"f1319121.9c354","type":"switch","z":"816a7350.3990d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"low_smk","vt":"global"},{"t":"btwn","v":"low_smk","vt":"global","v2":"high_smk","v2t":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1370,"y":900,"wires":[["b48c4240.11a67"],["3bc9e8fd.ac6838"],["764ecbf2.9ffe64"]]},{"id":"b48c4240.11a67","type":"change","z":"816a7350.3990d","name":"Green","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"status_smk4","pt":"global","to":"Normal","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":860,"wires":[["5a5e9fcd.6624d"]]},{"id":"3bc9e8fd.ac6838","type":"change","z":"816a7350.3990d","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"status_smk4","pt":"global","to":"Warning","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":900,"wires":[["5a5e9fcd.6624d"]]},{"id":"764ecbf2.9ffe64","type":"change","z":"816a7350.3990d","name":"Red","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"status_smk4","pt":"global","to":"Meltdown!","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Meltdown!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":940,"wires":[["5a5e9fcd.6624d"]]},{"id":"c1175719.5f8e38","type":"ui_text","z":"816a7350.3990d","group":"a7d5976c.5eae98","order":2,"width":"4","height":"1","name":"","label":"{{msg.topic}}","format":"<font color={{msg.color}}>{{msg.payload| uppercase}} {{msg.status}}</font>","layout":"row-spread","x":1710,"y":1020,"wires":[]},{"id":"a56ac424.c09bd8","type":"switch","z":"816a7350.3990d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"low_smk","vt":"global"},{"t":"btwn","v":"low_smk","vt":"global","v2":"high_smk","v2t":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1370,"y":1020,"wires":[["27d1e288.30b56e"],["c1636687.ee9f78"],["6dff8317.2ce96c"]]},{"id":"27d1e288.30b56e","type":"change","z":"816a7350.3990d","name":"Green","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"status_smk5","pt":"global","to":"Normal","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":980,"wires":[["c1175719.5f8e38"]]},{"id":"c1636687.ee9f78","type":"change","z":"816a7350.3990d","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"status_smk5","pt":"global","to":"Warning","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1020,"wires":[["c1175719.5f8e38"]]},{"id":"6dff8317.2ce96c","type":"change","z":"816a7350.3990d","name":"Red","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"status_smk5","pt":"global","to":"Meltdown!","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Meltdown!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":1060,"wires":[["c1175719.5f8e38"]]},{"id":"79a247ab.044688","type":"ui_text","z":"816a7350.3990d","group":"a7d5976c.5eae98","order":2,"width":"4","height":"1","name":"","label":"{{msg.topic}}","format":"<font color={{msg.color}}>{{msg.payload| uppercase}} {{msg.status}}</font>","layout":"row-spread","x":1710,"y":1160,"wires":[]},{"id":"ad44a572.859348","type":"switch","z":"816a7350.3990d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"low_smk","vt":"global"},{"t":"btwn","v":"low_smk","vt":"global","v2":"high_smk","v2t":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1370,"y":1160,"wires":[["b7e3a9.a21e6c58"],["8b0fa44e.6e5928"],["129a6f33.323fe1"]]},{"id":"b7e3a9.a21e6c58","type":"change","z":"816a7350.3990d","name":"Green","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"status_smk6","pt":"global","to":"Normal","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":1120,"wires":[["79a247ab.044688"]]},{"id":"8b0fa44e.6e5928","type":"change","z":"816a7350.3990d","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"status_smk6","pt":"global","to":"Warning","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1160,"wires":[["79a247ab.044688"]]},{"id":"129a6f33.323fe1","type":"change","z":"816a7350.3990d","name":"Red","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"status_smk6","pt":"global","to":"Meltdown!","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"Meltdown!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":1200,"wires":[["79a247ab.044688"]]},{"id":"42e9761.9b0e388","type":"ui_button","z":"f964a238.4eb78","name":"Relay 1.1","group":"8924e22f.e375e","order":1,"width":"2","height":"2","passthru":false,"label":"Relay 1.1 {{msg.text}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"grain","payload":"none","payloadType":"str","topic":"button","x":820,"y":200,"wires":[["9e40e77d.07e778"]]},{"id":"dcb49fc6.2d7f6","type":"ui_template","z":"cae40fed.0cb0b","group":"a6e358b.672ffa8","name":"blue","order":4,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":620,"wires":[[]]},{"id":"5da9116b.abbc3","type":"ui_template","z":"cae40fed.0cb0b","group":"a6e358b.672ffa8","name":"red","order":2,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":540,"wires":[["2bef7b13.ed83e4"]]},{"id":"4f99c99d.b87588","type":"ui_template","z":"cae40fed.0cb0b","group":"a6e358b.672ffa8","name":"green","order":3,"width":"2","height":"2","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({payload: 'Hello World'})\"> \n    Green<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":580,"wires":[[]]},{"id":"423c22a0.d7aa8c","type":"ui_template","z":"cae40fed.0cb0b","group":"a6e358b.672ffa8","name":"","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#16a085\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Greenish<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":700,"wires":[[]]},{"id":"4f1ba286.2d834c","type":"ui_template","z":"cae40fed.0cb0b","group":"a6e358b.672ffa8","name":"","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\" ng-click=\"send({payload: 'Hello World'})\"> \n    Orange<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":660,"wires":[[]]},{"id":"c819278a.b52928","type":"ui_template","z":"cae40fed.0cb0b","group":"a6e358b.672ffa8","name":"on","order":7,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#34495e\" ng-click=\"send({payload: 'Hello World'})\"> \n    On\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":740,"wires":[[]]},{"id":"78aa302.0940cd","type":"ui_template","z":"cae40fed.0cb0b","group":"a6e358b.672ffa8","name":"off","order":8,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#8e44ad\" ng-click=\"send({payload: 'Hello World'})\"> \n    Off\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":780,"wires":[[]]},{"id":"78d9636f.1c26ec","type":"ui_template","z":"cae40fed.0cb0b","group":"a6e358b.672ffa8","name":"css etc","order":0,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":400,"y":540,"wires":[[]]},{"id":"2bef7b13.ed83e4","type":"debug","z":"cae40fed.0cb0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":540,"wires":[]},{"id":"86c4250c.8017c8","type":"function","z":"f964a238.4eb78","name":"Get status relay 1.1","func":"msg.payload = flow.get('relay1');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":200,"wires":[["65f18827.575df8"]]},{"id":"2f8a5b8b.3b3d84","type":"ui_button","z":"cae40fed.0cb0b","name":"toggle button","group":"a6e358b.672ffa8","order":8,"width":"1","height":"1","passthru":false,"label":"","tooltip":"{{tooltip}}","color":" #0079F2","bgcolor":"#FFFFFF","icon":"{{myicon}}","payload":"true","payloadType":"bool","topic":"toggle_button","x":630,"y":960,"wires":[["7247a753.fc5448"]]},{"id":"3cc7c581.af95da","type":"inject","z":"cae40fed.0cb0b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":900,"wires":[["544dcc8e.4abdb4"]]},{"id":"544dcc8e.4abdb4","type":"change","z":"cae40fed.0cb0b","name":"myicon: home","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"myicon","pt":"msg","to":"home","tot":"str"},{"t":"set","p":"tooltip","pt":"msg","to":"Ranki@Home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":900,"wires":[["2f8a5b8b.3b3d84","659d26a2.07bf08"]]},{"id":"f8e9468d.7d8b88","type":"change","z":"cae40fed.0cb0b","name":"myicon: weekend","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"myicon","pt":"msg","to":"weekend","tot":"str"},{"t":"set","p":"tooltip","pt":"msg","to":"Ranki@Base","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":940,"wires":[["2f8a5b8b.3b3d84","659d26a2.07bf08"]]},{"id":"d91ccfae.ecd93","type":"inject","z":"cae40fed.0cb0b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":940,"wires":[["f8e9468d.7d8b88"]]},{"id":"7d223aba.322464","type":"change","z":"cae40fed.0cb0b","name":"myicon: public","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"myicon","pt":"msg","to":"public","tot":"str"},{"t":"set","p":"tooltip","pt":"msg","to":"Ranki away","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":980,"wires":[["2f8a5b8b.3b3d84","659d26a2.07bf08"]]},{"id":"43957dd0.142034","type":"inject","z":"cae40fed.0cb0b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":980,"wires":[["7d223aba.322464"]]},{"id":"7e916ace.8d13a4","type":"debug","z":"cae40fed.0cb0b","name":"home => weekend","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":920,"wires":[]},{"id":"659d26a2.07bf08","type":"change","z":"cae40fed.0cb0b","name":"","rules":[{"t":"set","p":"icon","pt":"flow","to":"myicon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":900,"wires":[[]]},{"id":"18f024a5.805b3b","type":"switch","z":"cae40fed.0cb0b","name":"switch(myicon)","property":"myicon","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"weekend","vt":"str"},{"t":"eq","v":"public","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1060,"y":960,"wires":[["7e916ace.8d13a4","f8e9468d.7d8b88"],["6dd47d3c.52b6c4","7d223aba.322464"],["fcbe0b43.74aa08","544dcc8e.4abdb4"]]},{"id":"6dd47d3c.52b6c4","type":"debug","z":"cae40fed.0cb0b","name":"weekend => public","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":960,"wires":[]},{"id":"fcbe0b43.74aa08","type":"debug","z":"cae40fed.0cb0b","name":"public => home","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1280,"y":1000,"wires":[]},{"id":"7247a753.fc5448","type":"change","z":"cae40fed.0cb0b","name":"clean & update msg","rules":[{"t":"delete","p":"event","pt":"msg"},{"t":"set","p":"myicon","pt":"msg","to":"icon","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":960,"wires":[["18f024a5.805b3b","b6d0eda9.5efea"]]},{"id":"b6d0eda9.5efea","type":"debug","z":"cae40fed.0cb0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":1000,"wires":[]},{"id":"54e91589.36394c","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":200,"wires":[["86c4250c.8017c8"]]},{"id":"6fe53be3.615c84","type":"function","z":"f964a238.4eb78","name":"Save status relay 1.1","func":"var status = flow.get('relay1');\nmsg.payload = status ? false : true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":300,"wires":[["63fd029d.9d311c"]]},{"id":"9e40e77d.07e778","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":300,"wires":[["6fe53be3.615c84"]]},{"id":"63fd029d.9d311c","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"relay1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":160,"wires":[["311835a5.cd2a1a"]]},{"id":"68d0acce.4909c4","type":"ui_button","z":"f964a238.4eb78","name":"Relay 1.2","group":"8924e22f.e375e","order":1,"width":"2","height":"2","passthru":false,"label":"Relay 1.2 {{msg.text}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"grain","payload":"none","payloadType":"str","topic":"button","x":820,"y":400,"wires":[["ca1665de.2b0ea8"]]},{"id":"3c5dd781.674bc8","type":"function","z":"f964a238.4eb78","name":"Get status relay 1.2","func":"msg.payload = flow.get('relay2');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":404,"wires":[["879e0ddd.9cb41"]]},{"id":"ce409335.cd43d","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":440,"wires":[["68d0acce.4909c4"]]},{"id":"70c71b06.4385f4","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":360,"wires":[["68d0acce.4909c4"]]},{"id":"19cb0b4f.7fed35","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":400,"wires":[["3c5dd781.674bc8"]]},{"id":"879e0ddd.9cb41","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":400,"wires":[["70c71b06.4385f4"],["ce409335.cd43d"]]},{"id":"2b36edee.da9ac2","type":"function","z":"f964a238.4eb78","name":"Save status relay 1.2","func":"var status = flow.get('relay2');\nmsg.payload = status ? false : true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":500,"wires":[["ff12ea3c.651268"]]},{"id":"ca1665de.2b0ea8","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":500,"wires":[["2b36edee.da9ac2"]]},{"id":"ff12ea3c.651268","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"relay2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":400,"wires":[["311835a5.cd2a1a"]]},{"id":"938ef788.7943c8","type":"ui_button","z":"f964a238.4eb78","name":"Relay 1.3","group":"8924e22f.e375e","order":1,"width":"2","height":"2","passthru":false,"label":"Relay 1.3 {{msg.text}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"grain","payload":"none","payloadType":"str","topic":"button","x":820,"y":580,"wires":[["65052785.e718a8"]]},{"id":"ff51cf88.8ba35","type":"function","z":"f964a238.4eb78","name":"Get status relay 1.3","func":"msg.payload = flow.get('relay3');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":580,"wires":[["341bd7a6.10a318"]]},{"id":"5c8db061.48eeb","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":620,"wires":[["938ef788.7943c8"]]},{"id":"dc9f58fe.aa4e78","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":540,"wires":[["938ef788.7943c8"]]},{"id":"3a26a375.2df0fc","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":580,"wires":[["ff51cf88.8ba35"]]},{"id":"341bd7a6.10a318","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":580,"wires":[["dc9f58fe.aa4e78"],["5c8db061.48eeb"]]},{"id":"93b8ad3b.78054","type":"function","z":"f964a238.4eb78","name":"Save status relay 1.3","func":"var status = flow.get('relay3');\nmsg.payload = status ? false : true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":680,"wires":[["46247b61.ecf0b4"]]},{"id":"65052785.e718a8","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":680,"wires":[["93b8ad3b.78054"]]},{"id":"46247b61.ecf0b4","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"relay3","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":580,"wires":[["311835a5.cd2a1a"]]},{"id":"b6d4df2c.344fb","type":"ui_button","z":"f964a238.4eb78","name":"Relay 2.1","group":"8924e22f.e375e","order":1,"width":"2","height":"2","passthru":false,"label":"Relay 2.1 {{msg.text}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"grain","payload":"none","payloadType":"str","topic":"button","x":820,"y":780,"wires":[["c1a4ee0.58c731"]]},{"id":"869598ed.43f448","type":"function","z":"f964a238.4eb78","name":"Get status relay 2.1","func":"msg.payload = flow.get('relay4');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":780,"wires":[["93184184.ea493"]]},{"id":"c6444bec.43e408","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":820,"wires":[["b6d4df2c.344fb"]]},{"id":"b32fc98.baec938","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":740,"wires":[["b6d4df2c.344fb"]]},{"id":"5a14252f.6bd5ac","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":780,"wires":[["869598ed.43f448"]]},{"id":"93184184.ea493","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":780,"wires":[["b32fc98.baec938"],["c6444bec.43e408"]]},{"id":"f0b04e73.87eca","type":"function","z":"f964a238.4eb78","name":"Save status relay 2.1","func":"var status = flow.get('relay4');\nmsg.payload = status ? false : true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":880,"wires":[["7556b714.843d18"]]},{"id":"c1a4ee0.58c731","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":880,"wires":[["f0b04e73.87eca"]]},{"id":"7556b714.843d18","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"relay4","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":780,"wires":[["311835a5.cd2a1a"]]},{"id":"d22df756.f03648","type":"ui_button","z":"f964a238.4eb78","name":"Relay 2.2","group":"8924e22f.e375e","order":1,"width":"2","height":"2","passthru":false,"label":"Relay 2.2 {{msg.text}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"grain","payload":"none","payloadType":"str","topic":"button","x":820,"y":980,"wires":[["a7876608.243578"]]},{"id":"577c25e0.b6f02c","type":"function","z":"f964a238.4eb78","name":"Get status relay 2.2","func":"msg.payload = flow.get('relay5');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":980,"wires":[["c61da682.998278"]]},{"id":"a373d24c.a110b","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1020,"wires":[["d22df756.f03648"]]},{"id":"4eac6375.f9317c","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":940,"wires":[["d22df756.f03648"]]},{"id":"c99e5648.b984b8","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":980,"wires":[["577c25e0.b6f02c"]]},{"id":"c61da682.998278","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":980,"wires":[["4eac6375.f9317c"],["a373d24c.a110b"]]},{"id":"627f4cdc.96f874","type":"function","z":"f964a238.4eb78","name":"Save status relay 2.2","func":"var status = flow.get('relay5');\nmsg.payload = status ? false : true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1080,"wires":[["54e64322.e7300c"]]},{"id":"a7876608.243578","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":1080,"wires":[["627f4cdc.96f874"]]},{"id":"54e64322.e7300c","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"relay5","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":980,"wires":[["311835a5.cd2a1a"]]},{"id":"234f21a1.39ab1e","type":"ui_button","z":"f964a238.4eb78","name":"Relay 2.3","group":"8924e22f.e375e","order":1,"width":"2","height":"2","passthru":false,"label":"Relay 2.3 {{msg.text}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"grain","payload":"none","payloadType":"str","topic":"button","x":820,"y":1160,"wires":[["d6723d67.485a8"]]},{"id":"4a9dce6.fc6193","type":"function","z":"f964a238.4eb78","name":"Get status relay 2.3","func":"msg.payload = flow.get('relay6');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1160,"wires":[["b8ae5419.d3cfd8"]]},{"id":"7f8c00b1.565","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1200,"wires":[["234f21a1.39ab1e"]]},{"id":"3b49bc81.9d70f4","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1120,"wires":[["234f21a1.39ab1e"]]},{"id":"8f218d98.3906","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1160,"wires":[["4a9dce6.fc6193"]]},{"id":"b8ae5419.d3cfd8","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":1160,"wires":[["3b49bc81.9d70f4"],["7f8c00b1.565"]]},{"id":"dd533dd5.dcac2","type":"function","z":"f964a238.4eb78","name":"Save status relay 2.6","func":"var status = flow.get('relay6');\nmsg.payload = status ? false : true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1260,"wires":[["49d81e86.a85f"]]},{"id":"d6723d67.485a8","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":1260,"wires":[["dd533dd5.dcac2"]]},{"id":"49d81e86.a85f","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"relay6","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":1160,"wires":[["311835a5.cd2a1a"]]},{"id":"8f087086.9c4b1","type":"comment","z":"f964a238.4eb78","name":"Control Relay","info":"","x":140,"y":120,"wires":[]},{"id":"992020eb.5ede8","type":"comment","z":"f964a238.4eb78","name":"Control Camera","info":"","x":160,"y":1900,"wires":[]},{"id":"15d81c6e.a28d84","type":"ui_button","z":"f964a238.4eb78","name":"Camera 1 Position 1","group":"4315493a.b04488","order":1,"width":"2","height":"2","passthru":false,"label":"Camera 1 Position 1","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"switch_camera","payload":"none","payloadType":"str","topic":"button","x":740,"y":2060,"wires":[["340a45d3.4695da"]]},{"id":"e3168a27.2709e8","type":"function","z":"f964a238.4eb78","name":"Get status camera 1.1","func":"msg.payload = flow.get('position1_cam1');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1964,"wires":[["3fac3cab.d937c4"]]},{"id":"b621bfc.4e8bb4","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"TURN ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2100,"wires":[["15d81c6e.a28d84"]]},{"id":"51583973.0860e8","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"TURN LEFT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2020,"wires":[["15d81c6e.a28d84"]]},{"id":"3b7842c3.49223e","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1960,"wires":[["e3168a27.2709e8"]]},{"id":"3fac3cab.d937c4","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":2020,"wires":[["51583973.0860e8"],["b621bfc.4e8bb4"]]},{"id":"e29b47cc.bbdc38","type":"function","z":"f964a238.4eb78","name":"Save status camera 1.1","func":"var status = flow.get('position1_cam1');\nif (status) {msg.payload = true;}\nif (status == false) {msg.payload = true;}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":1960,"wires":[["a7415ce3.f92a1"]]},{"id":"340a45d3.4695da","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":2060,"wires":[["e29b47cc.bbdc38","c2475d93.39379"]]},{"id":"a7415ce3.f92a1","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"position1_cam1","tot":"flow"},{"t":"set","p":"position2_cam1","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"position3_cam1","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":2060,"wires":[[]]},{"id":"ef973b4d.4439c8","type":"ui_button","z":"f964a238.4eb78","name":"Camera 1 Position 3","group":"4315493a.b04488","order":3,"width":"2","height":"2","passthru":false,"label":"Camera 1 Position 3","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"switch_camera","payload":"none","payloadType":"str","topic":"button","x":740,"y":2480,"wires":[["70f4ee0d.f93b2"]]},{"id":"d3e4a8f3.2a4cb8","type":"function","z":"f964a238.4eb78","name":"Get status camera 1.2","func":"msg.payload = flow.get('position2_cam1');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2164,"wires":[["c5678dd8.b3244"]]},{"id":"2ae6fdba.81bd82","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"TURN ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2300,"wires":[["a9fd3b27.800a68"]]},{"id":"a7b58cbd.c7956","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"TURN LEFT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2220,"wires":[["a9fd3b27.800a68"]]},{"id":"8eee5007.ebe0b","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":2160,"wires":[["d3e4a8f3.2a4cb8"]]},{"id":"c5678dd8.b3244","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":2220,"wires":[["a7b58cbd.c7956"],["2ae6fdba.81bd82"]]},{"id":"e0556157.d8dd9","type":"function","z":"f964a238.4eb78","name":"Save status camera 1.2","func":"var status = flow.get('position2_cam1');\nif (status) {msg.payload = true;}\nif (status == false) {msg.payload = true;}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":2160,"wires":[["75f8e65f.3de5a8"]]},{"id":"baf4453f.d281d8","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":2260,"wires":[["e0556157.d8dd9","6932a59e.40e5bc"]]},{"id":"75f8e65f.3de5a8","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"position2_cam1","tot":"flow"},{"t":"set","p":"position1_cam1","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"position3_cam1","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":2260,"wires":[[]]},{"id":"41492f28.d5c33","type":"function","z":"f964a238.4eb78","name":"Get status camera 1.3","func":"msg.payload = flow.get('position3_cam1');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2384,"wires":[["370a119b.c85ebe"]]},{"id":"867fdb5a.a02148","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"TURN ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2520,"wires":[["ef973b4d.4439c8"]]},{"id":"d9cc083e.1b73d8","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"TURN LEFT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2440,"wires":[["ef973b4d.4439c8"]]},{"id":"23b9d0f8.f09f1","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":2380,"wires":[["41492f28.d5c33"]]},{"id":"370a119b.c85ebe","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":2440,"wires":[["d9cc083e.1b73d8"],["867fdb5a.a02148"]]},{"id":"414bdcac.aee354","type":"function","z":"f964a238.4eb78","name":"Save status camera 1.3","func":"var status = flow.get('position3_cam1');\nif (status) {msg.payload = true;}\nif (status == false) {msg.payload = true;}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":2380,"wires":[["8d4a217a.5ccc1"]]},{"id":"70f4ee0d.f93b2","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":2480,"wires":[["414bdcac.aee354","160065ad.df602a"]]},{"id":"8d4a217a.5ccc1","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"position3_cam1","tot":"flow"},{"t":"set","p":"position1_cam1","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"position2_cam1","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":2480,"wires":[[]]},{"id":"a9fd3b27.800a68","type":"ui_button","z":"f964a238.4eb78","name":"Camera 1 Position 2","group":"4315493a.b04488","order":2,"width":"2","height":"2","passthru":false,"label":"Camera 1 Position 2","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"switch_camera","payload":"none","payloadType":"str","topic":"button","x":720,"y":2260,"wires":[["baf4453f.d281d8"]]},{"id":"6bed247e.ac6dbc","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":240,"wires":[["42e9761.9b0e388"]]},{"id":"4355543f.3dbb0c","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":160,"wires":[["42e9761.9b0e388"]]},{"id":"65f18827.575df8","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":200,"wires":[["4355543f.3dbb0c"],["6bed247e.ac6dbc"]]},{"id":"751be04f.720bf","type":"ui_button","z":"f964a238.4eb78","name":"Camera 2 Position 1","group":"4315493a.b04488","order":4,"width":"2","height":"2","passthru":false,"label":"Camera 2 Position 1","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"switch_camera","payload":"none","payloadType":"str","topic":"button","x":700,"y":2720,"wires":[["7a742c65.47bcb4"]]},{"id":"8b7533e3.03dde","type":"function","z":"f964a238.4eb78","name":"Get status camera 2.1","func":"msg.payload = flow.get('position1_cam2');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2624,"wires":[["812278de.385238"]]},{"id":"90795edc.9f6b6","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"TURN ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2760,"wires":[["751be04f.720bf"]]},{"id":"dd42b78c.c06b68","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"TURN LEFT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2680,"wires":[["751be04f.720bf"]]},{"id":"32bc02ff.dcddfe","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2620,"wires":[["8b7533e3.03dde"]]},{"id":"812278de.385238","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":2680,"wires":[["dd42b78c.c06b68"],["90795edc.9f6b6"]]},{"id":"c93768f5.895f08","type":"function","z":"f964a238.4eb78","name":"Save status camera 2.1","func":"var status = flow.get('position1_cam2');\nif (status) {msg.payload = true;}\nif (status == false) {msg.payload = true;}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":2620,"wires":[["9408404f.02b28"]]},{"id":"7a742c65.47bcb4","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":2720,"wires":[["c93768f5.895f08","37a84912.891e96"]]},{"id":"9408404f.02b28","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"position1_cam2","tot":"flow"},{"t":"set","p":"position2_cam2","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"position3_cam2","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":2720,"wires":[[]]},{"id":"d32d5a7a.cf5538","type":"ui_button","z":"f964a238.4eb78","name":"Camera 2 Position 3","group":"4315493a.b04488","order":6,"width":"2","height":"2","passthru":false,"label":"Camera 1 Position 3","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"switch_camera","payload":"none","payloadType":"str","topic":"button","x":700,"y":3140,"wires":[["1a77407.7009cc"]]},{"id":"703c2a6e.c1ebc4","type":"function","z":"f964a238.4eb78","name":"Get status camera 2.2","func":"msg.payload = flow.get('position2_cam2');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2824,"wires":[["376ca234.83315e"]]},{"id":"9fcc567a.1b2398","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"TURN ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2960,"wires":[["a42d3918.f326b8"]]},{"id":"6161971d.c1d808","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"TURN LEFT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2880,"wires":[["a42d3918.f326b8"]]},{"id":"4fd06d63.abd624","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2820,"wires":[["703c2a6e.c1ebc4"]]},{"id":"376ca234.83315e","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":2880,"wires":[["6161971d.c1d808"],["9fcc567a.1b2398"]]},{"id":"23eda7ae.60fc38","type":"function","z":"f964a238.4eb78","name":"Save status camera 2.2","func":"var status = flow.get('position2_cam2');\nif (status) {msg.payload = true;}\nif (status == false) {msg.payload = true;}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":2820,"wires":[["40c10f4a.6e4b8"]]},{"id":"c7fb5c92.78358","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":2920,"wires":[["23eda7ae.60fc38","8787bf4c.d77e9"]]},{"id":"40c10f4a.6e4b8","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"position2_cam2","tot":"flow"},{"t":"set","p":"position1_cam2","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"position3_cam2","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":2920,"wires":[[]]},{"id":"9d0a3a34.c34a88","type":"function","z":"f964a238.4eb78","name":"Get status camera 2.3","func":"msg.payload = flow.get('position3_cam2');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":3044,"wires":[["46647d51.a8b334"]]},{"id":"522f1f20.765a2","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"TURN ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":3180,"wires":[["d32d5a7a.cf5538"]]},{"id":"b97ea4ec.fe4dd8","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"TURN LEFT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":3100,"wires":[["d32d5a7a.cf5538"]]},{"id":"576d2579.2268ec","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":3040,"wires":[["9d0a3a34.c34a88"]]},{"id":"46647d51.a8b334","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":3100,"wires":[["b97ea4ec.fe4dd8"],["522f1f20.765a2"]]},{"id":"44fbd0ac.a0045","type":"function","z":"f964a238.4eb78","name":"Save status camera 2.3","func":"var status = flow.get('position3_cam2');\nif (status) {msg.payload = true;}\nif (status == false) {msg.payload = true;}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":3040,"wires":[["29c1f0da.112bc"]]},{"id":"1a77407.7009cc","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":3140,"wires":[["44fbd0ac.a0045","f67e6eb0.ddcd2"]]},{"id":"29c1f0da.112bc","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"position3_cam2","tot":"flow"},{"t":"set","p":"position1_cam2","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"position2_cam2","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":3140,"wires":[[]]},{"id":"a42d3918.f326b8","type":"ui_button","z":"f964a238.4eb78","name":"Camera 2 Position 2","group":"4315493a.b04488","order":5,"width":"2","height":"2","passthru":false,"label":"Camera 2 Position 2","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"switch_camera","payload":"none","payloadType":"str","topic":"button","x":680,"y":2920,"wires":[["c7fb5c92.78358"]]},{"id":"63423cd.2a351c4","type":"ui_button","z":"f964a238.4eb78","name":"Cameras","group":"8924e22f.e375e","order":1,"width":"2","height":"2","passthru":false,"label":"{{msg.text}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"videocam","payload":"none","payloadType":"str","topic":"button","x":800,"y":1360,"wires":[["c1ccb253.6d7dd"]]},{"id":"5f77dd8f.57aaa4","type":"function","z":"f964a238.4eb78","name":"Get status cameras","func":"msg.payload = flow.get('relay7');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":1400,"wires":[["af07cfcb.b1ddd"]]},{"id":"9c26718b.2f208","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"CAM 1 OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1400,"wires":[["63423cd.2a351c4"]]},{"id":"d322e70f.8aacf8","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"CAM 2 OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1320,"wires":[["63423cd.2a351c4"]]},{"id":"99957f6e.8d667","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1360,"wires":[["5f77dd8f.57aaa4"]]},{"id":"af07cfcb.b1ddd","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1360,"wires":[["d322e70f.8aacf8"],["9c26718b.2f208"]]},{"id":"475cace4.54b194","type":"function","z":"f964a238.4eb78","name":"Save status cameras","func":"var status = flow.get('relay7');\nmsg.payload = status ? false : true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":1420,"wires":[["6be4dbdb.7d2744"]]},{"id":"c1ccb253.6d7dd","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1420,"wires":[["475cace4.54b194"]]},{"id":"6be4dbdb.7d2744","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"relay7","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":1360,"wires":[["311835a5.cd2a1a"]]},{"id":"7666100f.77466","type":"ui_button","z":"f964a238.4eb78","name":"Monitor","group":"8924e22f.e375e","order":1,"width":"2","height":"2","passthru":false,"label":"Monitor {{msg.text}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"videocam","payload":"none","payloadType":"str","topic":"button","x":800,"y":1500,"wires":[["32b0dc73.e4e3b4"]]},{"id":"66d70015.232f5","type":"function","z":"f964a238.4eb78","name":"Get status monitor","func":"msg.payload = flow.get('relay8');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":1500,"wires":[["28e49576.12240a"]]},{"id":"dd8cfb9a.9e3a88","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1540,"wires":[["7666100f.77466"]]},{"id":"f7d35c99.1a21b","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1460,"wires":[["7666100f.77466"]]},{"id":"65aa04a0.85c30c","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1500,"wires":[["66d70015.232f5"]]},{"id":"28e49576.12240a","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1500,"wires":[["f7d35c99.1a21b"],["dd8cfb9a.9e3a88"]]},{"id":"23df86dd.fe83aa","type":"function","z":"f964a238.4eb78","name":"Save status relay cam 2","func":"var status = flow.get('relay8');\nmsg.payload = status ? false : true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1600,"wires":[["90ae7703.f19ba8"]]},{"id":"32b0dc73.e4e3b4","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1600,"wires":[["23df86dd.fe83aa"]]},{"id":"90ae7703.f19ba8","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"relay8","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":1500,"wires":[["311835a5.cd2a1a"]]},{"id":"311835a5.cd2a1a","type":"function","z":"f964a238.4eb78","name":"Create message mqtt","func":"msg.payload = {\n    r1: flow.get('relay1'),\n    r2: flow.get('relay2'),\n    r3: flow.get('relay3'),\n    r4: flow.get('relay4'),\n    r5: flow.get('relay5'),\n    r6: flow.get('relay6'),\n    r7: flow.get('relay7'),\n    r8: flow.get('relay8'),\n    bz: flow.get('bell')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":1340,"wires":[["c6439032.814b3"]]},{"id":"8b6922c6.e0062","type":"mqtt out","z":"f964a238.4eb78","name":"","topic":"relay","qos":"1","retain":"","broker":"35970a31.a01c76","x":1750,"y":1440,"wires":[]},{"id":"e8ee4608.f79e48","type":"ui_button","z":"f964a238.4eb78","name":"Bell","group":"8924e22f.e375e","order":1,"width":"2","height":"2","passthru":false,"label":"Bell {{msg.text}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"fa-bell","payload":"none","payloadType":"str","topic":"button","x":770,"y":1680,"wires":[["77c9d8c8.9b4cb8"]]},{"id":"d1e2ccd1.17bb7","type":"function","z":"f964a238.4eb78","name":"Get status bell","func":"msg.payload = flow.get('bell');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":1680,"wires":[["93381eca.8e416"]]},{"id":"30bc1c14.3058d4","type":"change","z":"f964a238.4eb78","name":"Yellow","rules":[{"t":"set","p":"color","pt":"msg","to":"#f7b633","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1720,"wires":[["e8ee4608.f79e48"]]},{"id":"a2bfbe88.1f7e","type":"change","z":"f964a238.4eb78","name":"Blue","rules":[{"t":"set","p":"color","pt":"msg","to":"#66b5f8","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1640,"wires":[["e8ee4608.f79e48"]]},{"id":"5497678d.d480f8","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1680,"wires":[["d1e2ccd1.17bb7"]]},{"id":"93381eca.8e416","type":"switch","z":"f964a238.4eb78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1680,"wires":[["a2bfbe88.1f7e"],["30bc1c14.3058d4"]]},{"id":"80f8448f.2dc428","type":"function","z":"f964a238.4eb78","name":"Save status relay bell","func":"var status = flow.get('bell');\nmsg.payload = status ? false : true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1780,"wires":[["56de3944.88dec8"]]},{"id":"77c9d8c8.9b4cb8","type":"switch","z":"f964a238.4eb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1780,"wires":[["80f8448f.2dc428"]]},{"id":"56de3944.88dec8","type":"change","z":"f964a238.4eb78","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"bell","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1680,"wires":[["311835a5.cd2a1a"]]},{"id":"c2475d93.39379","type":"function","z":"f964a238.4eb78","name":"45 degree","func":"flow.set('s1', 45);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":1960,"wires":[["8e570ab.9c621f8"]]},{"id":"1dec300e.2af8","type":"mqtt out","z":"f964a238.4eb78","name":"","topic":"servo","qos":"1","retain":"","broker":"35970a31.a01c76","x":1750,"y":2780,"wires":[]},{"id":"6932a59e.40e5bc","type":"function","z":"f964a238.4eb78","name":"90 degree","func":"flow.set('s1', 90);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":2180,"wires":[["8e570ab.9c621f8"]]},{"id":"160065ad.df602a","type":"function","z":"f964a238.4eb78","name":"135 degree","func":"flow.set('s1', 135);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":2380,"wires":[["8e570ab.9c621f8"]]},{"id":"37a84912.891e96","type":"function","z":"f964a238.4eb78","name":"45 degree","func":"flow.set('s2', 45);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":2620,"wires":[["8e570ab.9c621f8"]]},{"id":"8787bf4c.d77e9","type":"function","z":"f964a238.4eb78","name":"90 degree","func":"flow.set('s2', 90);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":2800,"wires":[["8e570ab.9c621f8"]]},{"id":"f67e6eb0.ddcd2","type":"function","z":"f964a238.4eb78","name":"135 degree","func":"flow.set('s2', 135);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":3040,"wires":[["8e570ab.9c621f8"]]},{"id":"93879264.e9e43","type":"comment","z":"816a7350.3990d","name":"Temp-Hum-Smk","info":"","x":190,"y":460,"wires":[]},{"id":"10d6ef8b.c165e","type":"ui_slider","z":"788302d0.c3dd1c","name":"","label":"Temp","tooltip":"","group":"39974640.3596ca","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","min":"0","max":"40","step":"1","x":470,"y":180,"wires":[["efd3453b.fc0af8","d13bc207.2a316"]]},{"id":"efd3453b.fc0af8","type":"function","z":"788302d0.c3dd1c","name":"save temperature","func":"var temp = msg.payload;\nglobal.set('low_temp' , temp)\nglobal.set('high_temp', temp+5)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":180,"wires":[[]]},{"id":"d13bc207.2a316","type":"ui_text","z":"788302d0.c3dd1c","group":"39974640.3596ca","order":2,"width":0,"height":0,"name":"","label":"Low Temperature ","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":140,"wires":[]},{"id":"9e28c1d7.f6298","type":"ui_slider","z":"788302d0.c3dd1c","name":"","label":"Smk","tooltip":"","group":"30746458.4ce3ac","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","min":"0","max":"300","step":"1","x":470,"y":280,"wires":[["9455f05c.7e95c","7141f6a.2c21208"]]},{"id":"9455f05c.7e95c","type":"function","z":"788302d0.c3dd1c","name":"save smoke","func":"var smk = msg.payload;\nglobal.set('low_smk' , smk)\nglobal.set('high_smk', smk+100)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":280,"wires":[[]]},{"id":"7141f6a.2c21208","type":"ui_text","z":"788302d0.c3dd1c","group":"30746458.4ce3ac","order":2,"width":0,"height":0,"name":"","label":"Low Smoke","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":240,"wires":[]},{"id":"edf1cad1.c83878","type":"comment","z":"f964a238.4eb78","name":"Thuat toan","info":"","x":100,"y":3220,"wires":[]},{"id":"54fb3b97.84d214","type":"function","z":"f964a238.4eb78","name":"Get status environment","func":"var status_smk1 = global.get('status_smk1');\nvar status_smk2 = global.get('status_smk2');\nvar status_smk3 = global.get('status_smk3');\nvar status_smk4 = global.get('status_smk4');\nvar status_smk5 = global.get('status_smk5');\nvar status_smk6 = global.get('status_smk6');\nvar status_temp1 = global.get('status_temp1');\nvar status_temp2 = global.get('status_temp2');\nvar status_temp3 = global.get('status_temp3');\nvar status_temp4 = global.get('status_temp4');\nvar status_temp5 = global.get('status_temp5');\nvar status_temp6 = global.get('status_temp6');\nif (status_smk1 !== \"Normal\" || status_temp1 !== \"Normal\") {\n    flow.set(\"position1_cam1\", true);\n    flow.set(\"position2_cam1\", false);\n    flow.set(\"position3_cam1\", false);\n    flow.set(\"relay7\", false);\n    flow.set(\"relay8\", true);\n    flow.set(\"s1\", 45);\n} else if (status_smk2 !== \"Normal\" || status_temp2 !== \"Normal\") {\n    flow.set(\"position1_cam1\", false);\n    flow.set(\"position2_cam1\", true);\n    flow.set(\"position3_cam1\", false);\n    flow.set(\"relay7\", false);\n    flow.set(\"relay8\", true);\n    flow.set(\"s1\", 90);\n} else if (status_smk3 !== \"Normal\" || status_temp3 !== \"Normal\") {\n    flow.set(\"position1_cam1\", false);\n    flow.set(\"position2_cam1\", false);\n    flow.set(\"position3_cam1\", true);\n    flow.set(\"relay7\", false);\n    flow.set(\"relay8\", true);\n    flow.set(\"s1\", 135);\n} else if (status_smk4 !== \"Normal\" || status_temp4 !== \"Normal\") {\n    flow.set(\"position1_cam2\", true);\n    flow.set(\"position2_cam2\", false);\n    flow.set(\"position3_cam2\", false);\n    flow.set(\"relay7\", true);\n    flow.set(\"relay8\", true);\n    flow.set(\"s2\", 45);\n} else if (status_smk5 !== \"Normal\" || status_temp5 !== \"Normal\") {\n    flow.set(\"position1_cam2\", false);\n    flow.set(\"position2_cam2\", true);\n    flow.set(\"position3_cam2\", false);\n    flow.set(\"relay7\", true);\n    flow.set(\"relay8\", true);\n    flow.set(\"s1\", 90);\n} else if (status_smk6 !== \"Normal\" || status_temp6 !== \"Normal\") {\n    flow.set(\"position1_cam2\", false);\n    flow.set(\"position2_cam2\", false);\n    flow.set(\"position3_cam2\", true);\n    flow.set(\"relay7\", true);\n    flow.set(\"relay8\", true);\n    flow.set(\"s1\", 135);\n}\n// Bell\nif (status_smk1 === \"Meltdown!\" ||\n    status_smk2 === \"Meltdown!\" ||\n    status_smk3 === \"Meltdown!\" ||\n    status_smk4 === \"Meltdown!\" ||\n    status_smk5 === \"Meltdown!\" ||\n    status_smk6 === \"Meltdown!\" ||\n    status_temp1 === \"Meltdown!\" ||\n    status_temp2 === \"Meltdown!\" ||\n    status_temp3 === \"Meltdown!\" ||\n    status_temp4 === \"Meltdown!\" ||\n    status_temp5 === \"Meltdown!\" ||\n    status_temp6 === \"Meltdown!\") {\n    flow.set(\"bell\", true);\n} else {\n    flow.set(\"bell\", false);\n}\n// LCD\nfunction lcd(status_smk, status_temp, relay_name, relay_id) {\n    var text_lcd = \"\"\n    if (status_smk === \"Meltdown!\" && status_temp === \"Meltdown!\") {\n        flow.set(relay_name, true);\n        text_lcd = \"Fire Warning Store \" + relay_id;\n    } else if (status_smk === \"Meltdown!\") {\n        flow.set(relay_name, false);\n        text_lcd = \"Smoke Warning Store \" + relay_id;\n    } else if (status_temp === \"Meltdown!\") {\n        flow.set(relay_name, false);\n        text_lcd = \"High Temperature Warning Store \" + relay_id;\n    } else {\n        flow.set(relay_name, false);\n        text_lcd = \"Normal\";\n    }\n    return text_lcd;\n}\nvar text_lcd1 = lcd(status_smk1, status_temp1, \"relay1\", 1);\nvar text_lcd2 = lcd(status_smk2, status_temp2, \"relay2\", 2);\nvar text_lcd3 = lcd(status_smk3, status_temp3, \"relay3\", 3);\nvar text_lcd4 = lcd(status_smk4, status_temp4, \"relay4\", 4);\nvar text_lcd5 = lcd(status_smk5, status_temp5, \"relay5\", 5);\nvar text_lcd6 = lcd(status_smk6, status_temp6, \"relay6\", 6);\n\nif (text_lcd1 !== \"Normal\") {\n    global.set(\"text_lcd\", text_lcd1);\n    if (text_lcd1.includes('Temp')) {global.set(\"msg_temp\", 1);}\n    if (text_lcd1.includes('Smoke')) {global.set(\"msg_temp\", 2);}\n    if (text_lcd1.includes('Fire')) {global.set(\"msg_temp\", 3);}\n} else if (text_lcd2 != \"Normal\") {\n    global.set(\"text_lcd\", text_lcd2);\n    if (text_lcd1.includes('Temp')) {global.set(\"msg_temp\", 1);}\n    if (text_lcd1.includes('Smoke')) {global.set(\"msg_temp\", 2);}\n    if (text_lcd1.includes('Fire')) {global.set(\"msg_temp\", 3);}\n} else if (text_lcd3 != \"Normal\") {\n    global.set(\"text_lcd\", text_lcd3);\n    if (text_lcd1.includes('Temp')) {global.set(\"msg_temp\", 1);}\n    if (text_lcd1.includes('Smoke')) {global.set(\"msg_temp\", 2);}\n    if (text_lcd1.includes('Fire')) {global.set(\"msg_temp\", 3);}\n} else if (text_lcd4 != \"Normal\") {\n    global.set('text_lcd', text_lcd4);\n    if (text_lcd1.includes('Temp')) {global.set(\"msg_temp\", 1);}\n    if (text_lcd1.includes('Smoke')) {global.set(\"msg_temp\", 2);}\n    if (text_lcd1.includes('Fire')) {global.set(\"msg_temp\", 3);}\n} else if (text_lcd5 != 'Normal') {\n    global.set(\"text_lcd\", text_lcd5);\n    if (text_lcd1.includes('Temp')) {global.set(\"msg_temp\", 1);}\n    if (text_lcd1.includes('Smoke')) {global.set(\"msg_temp\", 2);}\n    if (text_lcd1.includes('Fire')) {global.set(\"msg_temp\", 3);}\n} else if (text_lcd6 != 'Normal') {\n    global.set(\"text_lcd\", text_lcd6);\n    if (text_lcd1.includes('Temp')) {global.set(\"msg_temp\", 1);}\n    if (text_lcd1.includes('Smoke')) {global.set(\"msg_temp\", 2);}\n    if (text_lcd1.includes('Fire')) {global.set(\"msg_temp\", 3);}\n} else {\n    global.set(\"text_lcd\", \"Normal\");\n    global.set(\"msg_temp\", 0);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":3260,"wires":[["e10cf62e.1ce638"]]},{"id":"cf538cec.e2eee","type":"inject","z":"f964a238.4eb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":3276,"wires":[["6887ebe6.f59b04","64c71372.03361c"]]},{"id":"1e320774.ae3509","type":"ui_ui_control","z":"f964a238.4eb78","name":"","events":"change","x":100,"y":3360,"wires":[["43c20fc0.84401"]]},{"id":"43c20fc0.84401","type":"function","z":"f964a238.4eb78","name":"","func":"global.set(\"mode\", msg.name);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":3360,"wires":[[]]},{"id":"e10cf62e.1ce638","type":"link out","z":"f964a238.4eb78","name":"Link Mqtt","links":["66730987.4914c8","a66dddeb.19417","b930a041.bef0f"],"x":675,"y":3260,"wires":[]},{"id":"a66dddeb.19417","type":"link in","z":"f964a238.4eb78","name":"","links":["e10cf62e.1ce638"],"x":1525,"y":1480,"wires":[["311835a5.cd2a1a"]]},{"id":"6887ebe6.f59b04","type":"switch","z":"f964a238.4eb78","name":"","property":"mode","propertyType":"global","rules":[{"t":"cont","v":"Mode Auto","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":3240,"wires":[["54fb3b97.84d214"]]},{"id":"c6439032.814b3","type":"rbe","z":"f964a238.4eb78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1750,"y":1380,"wires":[["8b6922c6.e0062"]]},{"id":"8e570ab.9c621f8","type":"function","z":"f964a238.4eb78","name":"Create message mqtt","func":"var s1 = flow.get('s1') || 90;\nvar s2 = flow.get('s2') || 90;\nmsg.payload = {s1: s1, s2: s2};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":2620,"wires":[["d83e4427.e33b38"]]},{"id":"b930a041.bef0f","type":"link in","z":"f964a238.4eb78","name":"","links":["e10cf62e.1ce638"],"x":1495,"y":2700,"wires":[["8e570ab.9c621f8"]]},{"id":"d83e4427.e33b38","type":"rbe","z":"f964a238.4eb78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1690,"y":2700,"wires":[["1dec300e.2af8"]]},{"id":"17a3bcd1.0c0253","type":"inject","z":"816a7350.3990d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1260,"wires":[["65257abf.319a24"]]},{"id":"65257abf.319a24","type":"function","z":"816a7350.3990d","name":"","func":"var text_lcd = global.get(\"text_lcd\");\nif (text_lcd != \"Normal\") {\n    msg.color = \"red\";\n    msg.payload = text_lcd;\n} else {\n    msg.payload = text_lcd;\n}\n// msg.enabled = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1260,"wires":[["49333d91.2fdb84"]]},{"id":"49333d91.2fdb84","type":"ui_text","z":"816a7350.3990d","group":"b7d5b64d.b3c828","order":2,"width":"10","height":"1","name":"","label":"","format":"<font color={{msg.color}}><i class=\"fa fa-exclamation-triangle\" aria-hidden=\"true\"></i> {{msg.payload| uppercase}}</font>","layout":"col-center","x":590,"y":1320,"wires":[]},{"id":"abc4f1c3.f4d8c","type":"mqtt out","z":"f964a238.4eb78","name":"","topic":"lcd","qos":"1","retain":"","broker":"35970a31.a01c76","x":690,"y":3480,"wires":[]},{"id":"64c71372.03361c","type":"function","z":"f964a238.4eb78","name":"Create message mqtt","func":"msg.payload = {\"msg_lcd\": global.get(\"msg_temp\")};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":3320,"wires":[["848dd8f.8e68628"]]},{"id":"848dd8f.8e68628","type":"rbe","z":"f964a238.4eb78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":630,"y":3400,"wires":[["abc4f1c3.f4d8c"]]}]